FORMAT: 1A
HOST: https://api.iucto.cz/1.0/


# iÚčto
<a name="top"/>
iÚčto API je založena na REST principu.
API umožnuje práci s různými typy dokladů pomocí HTTP požadavků zasílaných ve formátu popsaném níže.

`Ke každému HTTP požadavku je nutné přidat HTTP hlavičku X-Auth-key`

Vešekerá komunikace probíhá pomocí protokolu HTTPS.

Odpovědi serveru jsou ve formátu [HAL+JSON](http://stateless.co/hal_specification.html).
Tělo požadavku v případě POST a PUT musí být ve formátu JSON.


#Povolené HTTP požadavky:
<a name="http_pozadavky"/>
- `GET` - Získání záznamu, nebo seznamu
- `POST` - Vytvoření nového záznamu
- `PUT` - Editace záznamu
- `DELETE` - Smazání záznamu

#Popis obvyklých odpovědí serveru
<a name="odpovedy_serveru"/>

- 200 `OK` - požadavek proběhl v pořádku (některé akce mohou vrátit 201).
- 201 `Created` - požadavek proběhl v pořádku a záznam byl vytvořen.
- 204 `No Content` - the request was successful but there is no representation to return (i.e. the response is empty).
- 400 `Bad Request` - neznámý formát požadavku, je možné že chybý nějaké parametry.
- 401 `Unauthorized` - špatný API klíč v požadavku.
- 403 `Forbidden` - přístup odepřen, uživatel nemá potřebná opravnění pro danou akci.
- 404 `Not Found` - záznam nenalezen.
- 405 `Method Not Allowed` - požadovaná metoda není podporována.

Odpověd může obsahovat popis chyby. Například při vkládání nového záznamu se špatnými daty se vypíší chybové zprávy validace.

# Authentizace
<a name="authentizace"/>
K authentizace každého HTTP požadavku slouží HTTP hlavička **X-Auth-Key**.
    
Vzor HTTP hlavičky pro přihlášení:

    X-Auth-Key: 9f3ba84380c1a86b90f52bd46f0b6799
    
Parametrem této hlavička je přístupoví klíč.  
**Klíč lze vygenerovat v profilu uživatele.**  
  
Ke každé firmě, ke které máte přístup se generuje samostatný klíč.

![Vygenerování klíče](https://raw.githubusercontent.com/PavelMaca/iUcto-API/master/images/key_generation.PNG)

Uživatel musí mít v nastavené správcem firmy opraváněné pro přístup přes API (výchozí stav je povolen).
Při komunikaci prostřednictvím API má uživatel stejná oprávnění jako u webového rozhraní.
  

**[Správa ACL](https://online.iucto.cz/users)**  

  
# Group Faktury vydané
<a name="faktury_vydane"/>
Popis parametrů:

- `id` *int (11)* - **ID dokladu**
- `sequence_code` *string (45)* - **Číslo dokladu**
- `variable_symbol` *string (42)* - **Variabilní symbol**
- `customer_id` *int(11)* - [**Id zákazníka**](#zakaznici)
- `customer_bank_account` *string (45)* - **Bankovní účet zákazníka**
- `date` *timestamp* - **Datum vystavení**
- `maturity_date` *timestamp* - **Datum splatnosti**
- `payment_type` *int (1)* - [**Forma úhrady**](#metody_plateb)
- `bank_account_id` *int (11)* - [**ID bankovního účet pro příjem platby**](#bankovni_ucty)
- `currency` *string (3)* - [**Měna dokladu**](#meny)
- `price` *int (11)* - **Celková částka bez DPH**
- `price_czk` *int (11)* - **Celková částka v CZK bez DPH**
- `price_inc_vat` *int (11)* - **Celková částka s DPH**
- `price_inc_vat_czk` *int (11)* - **Celková částka v CZK s DPH**
- `to_be_paid` *int* - **Zbývajicí částka k úhradě (v měně dokladu)**
- `date_vat` *timestamp* - **Datum zdanitelného plnění**
- `date_vat_prev` *timestamp* - **Datum předchozí sazby DPH**
- `description` *string* - **Poznámka**
- `rounding_type` *string* -  [**Způsob zaokrouhlení**](#zaokrouhleni)
- `items` *array* - **Položky dokladu**
    - `id` *int(11)* - **ID položky**
    - `amount` *decimal(12,2)* - **Počet**
    - `unit` *string(10)* - **Jednotka**
    - `price` *decimal(12,2)* - **Cena za jednotku**
    - `text` *string(255)* - **Popis**
    - `vat` *decimal(5,2)* - **DPH**
    - `accountentrytype_id` *int(11)* - [**Typ účetní položky**](#typy_uc_polozek)
    - `vattype_id` *int(11)* - [**Typ DPH**](#typy_dph)
    - `chart_account_id` *int(11)* - [**Účet účetní osnovy**](#ucty_uc_osnovy)
    - `vat_chart_id` *int(11)* - [**Účet DPH**](#ucty_dph)
    - `department_id` *int(11)* - [**Středisko**](#strediska)
    - `contract_id` *int(11)* - [**Zakázka**](#zakazky)
- `accounted` *bool* - **Doklad je zaúčtován**
- `deleted` *bool* - **Doklad je smazaný**

Hodnota *id* je přiřazena službou v momentu vytvoření nového záznamu.

## Seznam dokladů [/invoice-issued]
### Vypsání všech dostupných dokladů [GET]
Zjednodušený výpis všech dostupných dokladů.

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/hal+json)

        {"_links":{"self":{"href":"\/1.0\/invoice_issued"}},"_embedded":{"invoice_issued":[{"_links":{"self":{"href":"\/1.0\/invoice_issued\/13290"}},"id":13290,"sequence_code":"FV20140001","variable_symbol":"20140001","date":1402560760,"date_vat":1402560760,"maturity_date":1402560760,"currency":"CZK","price_inc_vat":2522.85,"to_be_paid":2522.85,"customer":{"_links":{"self":{"href":"\/1.0\/customer\/5779"}},"id":5779,"name":"Martin Nov\u00fd","ico":null,"dic":null,"vat_payer":false,"email":null},"accounted":false,"deleted":false}]}}

## Práce s dokladem [/invoice-issued/{id}]
+ Model (application/hal+json)
    + Body
    
            {"_links":{"self":{"href":"\/1.0\/invoice_issued\/13290"}},"id":13290,"sequence_code":"FV20140001","variable_symbol":"20140001","date":1402561717,"date_vat":1402561717,"maturity_date":1402561717,"currency":"CZK","price":2085,"price_czk":2085,"price_inc_vat":2522.85,"price_inc_vat_czk":2522.85,"to_be_paid":2522.85,"customer":{"_links":{"self":{"href":"\/1.0\/customer\/5779"}},"id":5779,"name":"Martin Nov\u00fd","ico":null,"dic":null,"vat_payer":false,"email":null,"address_id":12886},"customer_bank_account":null,"payment_type":"transfer","bank_account":{"_links":{"self":{"href":"\/1.0\/bank_account\/825"}},"id":825,"name":"Komer\u010dn\u00ed Banka","number":"123\/0100","currency":"CZK"},"date_vat_prev":null,"description":null,"rounding_type":null,"items":[{"id":27662,"text":"b\u00edl\u00e9 tri\u010dko","amount":5,"price":400,"unit":"ks","vat":21,"accountentrytype_id":16,"vattype_id":1,"department_id":0,"contract_id":0,"chart_account_id":309,"vat_chart_id":302},{"id":27663,"text":"doprava","amount":1,"price":85,"unit":null,"vat":21,"accountentrytype_id":63,"vattype_id":23,"department_id":0,"contract_id":0,"chart_account_id":272,"vat_chart_id":302}],"accounted":false,"deleted":false}

### Vytvoření nového dokladu [POST]
Vytvoří nový doklad, odpověd obsahuje detail dokladu.

Povinné parametry dokladu:

    variable_symbol
    customer_id
    date
    date_vat
    maturity_date
    currency
    customer_id
    bank_account
    items:
        text
        amount
        price
        accountentrytype_id
        vattype_id

+ Request (application/json)
    + Headers

            X-Auth-Key: api-key
            
    + Body
    
            {"variable_symbol":"20140001","date":1402557951,"date_vat":1402557951,"maturity_date":1402557951,"currency":"CZK","customer_id":5779,"customer_bank_account":null,"payment_type":"transfer","bank_account":825,"date_vat_prev":null,"description":null,"rounding_type":null,"items":[{"text":"b\u00edl\u00e9 tri\u010dko","amount":5,"price":400,"unit":"ks","vat":21,"accountentrytype_id":16,"vattype_id":1,"department_id":0,"contract_id":0,"chart_account_id":309,"vat_chart_id":302},{"text":"doprava","amount":1,"price":85,"unit":null,"vat":21,"accountentrytype_id":63,"vattype_id":23,"department_id":0,"contract_id":0,"chart_account_id":272,"vat_chart_id":302}]}

+ Response 201
        [Práce s dokladem][]
    
### Detail dokladu [GET]
Vrátí kompletní kolekci dat vybraného dokladu.
+ Parameters
    + id (int) ... ID dokladu
    
+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200
        [Práce s dokladem][]

### Editace dokladu [PUT]
Aktulizuje předané parametry vybraného dokladu.
Poviné ple jsou stejná jako při vkládání nového záznamu.

+ Parameters
    + id (int) ... ID dokladu
    
+ Request (application/json)
    + Headers

            X-Auth-Key: api-key
            
    + Body
    
            {"variable_symbol":"20140001","date":1402557951,"date_vat":1402557951,"maturity_date":1402557951,"currency":"CZK","customer_id":5779,"customer_bank_account":null,"payment_type":"transfer","bank_account":825,"date_vat_prev":null,"description":null,"rounding_type":null,"items":[{"text":"b\u00edl\u00e9 tri\u010dko","amount":5,"price":400,"unit":"ks","vat":21,"accountentrytype_id":16,"vattype_id":1,"department_id":0,"contract_id":0,"chart_account_id":309,"vat_chart_id":302},{"text":"doprava","amount":1,"price":85,"unit":null,"vat":21,"accountentrytype_id":63,"vattype_id":23,"department_id":0,"contract_id":0,"chart_account_id":272,"vat_chart_id":302}]}

+ Response 200
        [Práce s dokladem][]
        
### Smazání dokladu [DELETE]
Pokusí se smazat vybraný dokladu. Pokud je doklad vázán na jiný záznam, vrátí chybu a doklad se nasmaže.
+ Parameters
    + id (int) ... ID dokladu
    
+ Request
    + Headers

            X-Auth-Key: api-key
            
+ Response 204
         


# Group Zákazníci
<a name="zakaznici"/>

# Group Dodavatelé
<a name="dodavatele"/>

# Group Adresy
<a name="adresy"/>

# Group Bankovní účty
<a name="bankovni_ucty"/>

# Group Měny
<a name="meny"/>

# Group Metody plateb
<a name="metody_plateb"/>
Seznam dostupných metod pro provedení platby používaných v dokladech.
  
Pro aktuální seznam zavolejte tuto část API.

    {
        transfer: "Bankovním převodem"
        cash: "Hotově"
        cashondelivery: "Dobírka"
        reciprocity: "Reciproce"
    }
        
## Vypis dostupných metod [/payment_type]
### Seznam [GET]
+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/json)
    
        {transfer:"Bankovním převodem"cash:"Hotově"cashondelivery:"Dobírka"reciprocity:"Reciproce"}

# Group Způsoby zaokrouhlení
<a name="zaokrouhleni"/>
<a name="metody_plateb"/>
Seznam dostupných metod pro zaokrouhlování částek v dokladech.
  
Pro aktuální seznam zavolejte tuto část API.

    {
        none: "žádné"
        round: "zaokrouhlit"
        up: "zaokrouhlit nahoru"
        down: "zaokrouhlit dolů"
    }
        
## Vypis dostupných metod [/rounding_type]
### Seznam [GET]
+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/json)
    
        {none:"žádné"round:"zaokrouhlit"up:"zaokrouhlit nahoru"down:"zaokrouhlit dolů"}

# Group Typy účetních položek
<a name="typy_uc_polozek"/>

# Group Typy DPH
<a name="typy_dph"/>

# Group Účty účetní osnovy
<a name="ucty_uc_osnovy"/>

# Group Účty DPH
<a name="ucty_dph"/>

# Group Střediska
<a name="strediska"/>

# Group Zakázky
<a name="zakazky"/>

