FORMAT: 1A
HOST: https://online.iucto.cz/api/1.1/

# iÚčto
<a name="top"/>


`https://online.iucto.cz/api`

iÚčto API je založena na REST principu.
API umožnuje práci s různými typy dokladů pomocí HTTP požadavků zasílaných ve formátu popsaném níže.

`Ke každému HTTP požadavku je nutné přidat HTTP hlavičku X-Auth-key`

Veškerá komunikace probíhá pomocí protokolu HTTPS.

Odpovědi serveru jsou ve formátu [HAL+JSON](http://stateless.co/hal_specification.html).
Tělo požadavku v případě POST a PUT musí být ve formátu JSON.

<a name="http-pozadavky"/>

#Povolené HTTP požadavky:

- `GET` - Získání záznamu, nebo seznamu
- `POST` - Vytvoření nového záznamu
- `PUT` - Editace záznamu
- `DELETE` - Smazání záznamu

<a name="odpovedy-serveru"/>

#Popis obvyklých odpovědí serveru

- 200 `OK` - požadavek proběhl v pořádku (některé akce mohou vrátit 201).
- 201 `Created` - požadavek proběhl v pořádku a záznam byl vytvořen.
- 204 `No Content` - požadavek proběhl v pořádku, ale není nic co by se dalo vrátit (tělo odpovědi je prázdné).
- 400 `Bad Request` - neznámý formát požadavku, je možné že chybí nějaké parametry.
- 401 `Unauthorized` - špatný API klíč v požadavku.
- 403 `Forbidden` - přístup odepřen, uživatel nemá potřebná oprávnění pro danou akci.
- 404 `Not Found` - záznam nenalezen.
- 405 `Method Not Allowed` - požadovaná metoda není podporována.

Odpověď může obsahovat popis chyby. Například při vkládání nového záznamu se špatnými daty se vypíší chybové zprávy validace.

## Výpis chybových hlášek

| Kód | Chyba                                         |
|:---:|-----------------------------------------------|
| 400 | Komunikace musí probíhat přes protokol HTTPS. |
| 400 | Neplatná verze API, nebo zdroj.               |
| 400 | Tělo požadavku je prázdné.                    |
| 400 | Neplatný JSON formát.                         |
| 400 | Parametr 'doctype' je povinný.                |
| 400 | Parametr 'doctype' není platný.               |
| 400 | Parametr 'date' je povinný.                   |
| 400 | Parametr 'date' není platný.                  |
| 403 | Nelze smazat záznam.                          |
| 403 | Účetní období, nebo období DPH je uzavřeno.   |

<a name="autentizace"/>

# Autentizace

K autentizaci každého HTTP požadavku slouží HTTP hlavička **X-Auth-Key**.

Vzor HTTP hlavičky pro přihlášení:

    X-Auth-Key: 9f3ba84380c1a86b90f52bd46f0b6799

Parametrem této hlavička je přístupoví klíč.
**Klíč lze vygenerovat v profilu uživatele** - [Stránka s profilem](https://online.iucto.cz/common/profile)

Ke každé firmě, ke které máte přístup se generuje samostatný klíč.

![Vygenerování klíče](https://raw.githubusercontent.com/PavelMaca/iUcto-API/master/images/key_generation.PNG)

Uživatel musí mít v nastavené správcem firmy oprávnění pro přístup přes API (výchozí stav je povolen).
Při komunikaci prostřednictvím API má uživatel stejná oprávnění jako u webového rozhraní.


**[Správa ACL](https://online.iucto.cz/users)**


<a name="paging" />

# Stránkování

Stránkování je dostupné pouze u některých endpointů.

Vyžaduje předání parametrů `page` a `pageSize`.
Odpověď pak obsahuje údaje o celkovém počtu stránek.

<a name="data-types" />

# Datové typy

| Datový typ | Popis                                                |
|------------|------------------------------------------------------|
| String     | Textoví řetězec v kódování UTF-8                     |
| Number     | Celé číslo                                           |
| Boolean    | Hodnoty `true` a `false`                             |
| Date       | Datum ve formátu `YYYY-mm-dd`                        |
| Price      | Číslo se dvěma desetinnými místy ve formátu `1500.10` |

Parametry uvedené jako volitelné, mohou nabývat hodnot `NULL`.

# Typy dokladů

<a name="typy-dokladu" />

Seznam dostupných dokladů přes API a jejich interní identifikátory pro získání např. [Typů DPH](#typy-dph).

| Typ  | Název                                                 |
|:----:|-------------------------------------------------------|
| FV   | [Faktury vydané](#faktury-vydane)                     |
| FP   | [Faktury přijaté](#faktury-prijate)                   |
| ZFV  | [Zálohové faktury vydané](#zalohove-faktury-vydane)   |
| ZFP  | [Zálohové faktury přijaté](#zalohove-faktury-prijate) |
| PV   | [Platby vydané](#platby-vydane)                       |
| PP   | [Platby přijaté](#platby-prijate)                     |
| OP   | [Objednávky přijaté](#objednavky-prijate)             |
| OV   | [Objednávky vydané](#objednavky-vydane)               |

# Přehled změn

## v2.7
- order_recieved
  * přidání sloupce externí číslo objednávky

## 22.06.2020
- bank_transaction
    * zaúčtování pohyb a vytvoření platbu

- proforma_invoice_issued
    * stažení PDF

## 10.04.2020
- invoice_issued
  * datum DUZP je povinné pouze pokud je na dokladu položka se sazbou DPH
  * nové pole `reminders` pro nastavení upomínek

- payment_received
  * datum DUZP je povinné pouze pokud je na dokladu položka se sazbou DPH

- proforma_invoice_received
  * datum DUZP je povinné pouze pokud je na dokladu položka se sazbou DPH

# Group Seznamy

## Měny [/currency]
<a name="currency"></a>

### Seznam měn [GET]
Seznam dostupných měn pro použití v dokladech.

Dostupnost se může měnit v závislosti na aktivaci rozšíření **Účtování v cizích měnách**

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/json)
    + Attributes (CURRENCY)


## Metody plateb [/payment_type]
<a name="metody-plateb"></a>

### Seznam metod plateb  [GET]
Seznam dostupných metod pro provedení platby používaných v dokladech.
+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/json)
    + Attributes (PAYMENT_TYPE)


## Způsoby zaokrouhlení [/rounding_type]
<a name="zaokrouhleni"></a>

### Seznam typů zaokrouhlení [GET]
Seznam metod pro zaokrouhlování částek v dokladech.
+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/json)
    + Attributes (ROUNDING_TYPE)

# Group Firma

## Bankovní účty [/bank_account]
<a name="bankovni-ucty"></a>

### Seznam bankovních účtů [GET /bank_account{?page,pageSize}]
+ Parameters
    + page: `1` (number, optional) - Číslo stránky
    + pageSize: `50` (number, optional) - Počet záznamů na stránku
    
+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object)
            - self (object)
                - href: /1.1/bank_account (required)
        - _embedded (object)
            - `bank_account` (array[`BANK_ACCOUNT_LIST`], required) - Pole bankovních účtů
         - Include (`PAGING`, optional) - Stránkování, pouze pokud je nastaveno v parametru dotazu

### Detail bankovního účtu [GET /bank_account/{id}]
+ Parameters
    + id: 123 (number, required)

+ Request
    + Headers

            X-Auth-Key: api-key


+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object)
            - self (object)
                - href: /1.1/bank_account/123 (required)
        - _embedded (object)
            - `bank_account` (`BANK_ACCOUNT_DETAIL`, required) - Detail bankovního účtu

### Vytvoření bankovního účtu [POST /bank_account]

Výchozí [**Účet úč. osnovy**](#ucty-uc-osnovy) je 221.

+ Request (application/json)
    + Headers

            X-Auth-Key: api-key

    + Attributes (`BANK_ACCOUNT_PARAMS`)

+ Response 201 (application/hal+json)
    + Attributes (object)
        - _link (object)
            - self (object)
                - href: /1.1/bank_account/123 (required)
        - _embedded (object)
            - `bank_account` (`BANK_ACCOUNT_DETAIL`, required) - Detail bankovního účtu



### Editace bankovního účtu [PUT /bank_account/{id}]
+ Parameters
    + id: 123 (number, required)

+ Request (application/json)
    + Headers

            X-Auth-Key: api-key

    + Attributes (`BANK_ACCOUNT_PARAMS`)

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object)
            - self (object)
                - href: /1.1/bank_account/123 (required)
        - _embedded (object)
            - `bank_account` (`BANK_ACCOUNT_DETAIL`, required) - Detail bankovního účtu

### Smazání bankovního účtu [DELETE /bank_account/{id}]

Smazat lze pouze bankovní účet bez žádné vazby na doklad.

+ Parameters
    + id: 123 (number, required)

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 204

## Pokladny [/cash_register]
<a name="pokladny"></a>
### Seznam pokladen [GET /cash_register{?page,pageSize}]
+ Parameters
    + page: `1` (number, optional) - Číslo stránky
    + pageSize: `50` (number, optional) - Počet záznamů na stránku

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object)
            - self (object)
                - href: /1.1/cash_register (required)
        - _embedded (object)
            - `cash_register` (array[`CASH_REGISTER_LIST`], required) - Pole dostupných pokladen
        - Include (`PAGING`, optional) - Stránkování, pouze pokud je nastaveno v parametru dotazu

### Detail pokladny [GET /cash_register/{id}]
+ Parameters
    + id: 123 (number, required)

+ Request
    + Headers

            X-Auth-Key: api-key


+ Response 200 (application/json)
    + Attributes (object)
        - _link (object)
            - self (object)
                - href: /1.1/cash_register/123 (required)
        - _embedded (object)
            - `cash_register` (`CASH_REGISTER_DETAIL`, required) - Detail pokladny

## Střediska [/department]
<a name="strediska"/>

### Seznam středisek  [GET /department{?page,pageSize}]
+ Parameters
    + page: `1` (number, optional) - Číslo stránky
    + pageSize: `50` (number, optional) - Počet záznamů na stránku

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object)
            - self (object)
                - href: /1.1/department (required)
        - _embedded (object)
            - `department` (array[`DEPARTMENT_LIST`], required) - Pole dostupných středisek
        - Include (`PAGING`, optional) - Stránkování, pouze pokud je nastaveno v parametru dotazu


### Detail střediska [GET /department/{id}]
+ Parameters
    + id: 123 (number, required)

+ Request
    + Headers

            X-Auth-Key: api-key


+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object)
            - self (object)
                - href: /1.1/department/475 (required)
        - _embedded (object)
            - `department` (`DEPARTMENT_DETAIL`, required) - Detail střediska



### Vytvoření střediska [POST /department]
+ Request (application/json)
    + Headers

            X-Auth-Key: api-key

    + Attributes (`DEPARTMENT_BASE`)

+ Response 201 (application/hal+json)
    + Attributes (object)
        - _link (object)
            - self (object)
                - href: /1.1/department/475 (required)
        - _embedded (object)
            - `department` (`DEPARTMENT_DETAIL`, required) - Detail střediska

### Editace střediska [PUT /department/{id}]
+ Parameters
    + id: 123 (number, required)

+ Request (application/json)
    + Headers

            X-Auth-Key: api-key

    + Attributes (`DEPARTMENT_BASE`)

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object)
            - self (object)
                - href: /1.1/department/475 (required)
        - _embedded (object)
            - `department` (`DEPARTMENT_DETAIL`, required) - Detail střediska


### Smazání střediska [DELETE /department/{id}]
Pokusí se smazat vybrané středisko. Pokud je ovšem vázán na jiný záznam (faktury, platba apod.), vrátí chybu a středisko se nesmaže.
+ Parameters
    + id: 123 (number, required)

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 204

## Zakázky [/contract]
<a name="zakazky"/>

### Seznam zakázek [GET /contract{?page,pageSize}]
+ Parameters
    + page: `1` (number, optional) - Číslo stránky
    + pageSize: `50` (number, optional) - Počet záznamů na stránku

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object)
            - self (object)
                - href: /1.1/contract (required)
        - _embedded (object)
            - `contract` (array[`CONTRACT_LIST`], required) - Pole dostupných zakázek
        - Include (`PAGING`, optional) - Stránkování, pouze pokud je nastaveno v parametru dotazu

### Detail zakázky [GET /contract/{id}]
+ Parameters
    + id: 123 (number, required)

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object)
            - self (object)
                - href: /1.1/contract/475 (required)
        - _embedded (object)
            - `contract` (`CONTRACT_DETAIL`, required) - Detail zakázky


### Vytvoření zakázky [POST /contract]
+ Request (application/json)
    + Headers

            X-Auth-Key: api-key

    + Attributes (`CONTRACT_BASE`)

+ Response 201 (application/hal+json)
    + Attributes (object)
        - _link (object)
            - self (object)
                - href: /1.1/contract/475 (required)
        - _embedded (object)
            - `contract` (`CONTRACT_DETAIL`, required) - Detail zakázky


### Editace zakázky [PUT /contract/{id}]
+ Parameters
    + id: 123 (number, required)

+ Request (application/json)
    + Headers

            X-Auth-Key: api-key

    + Attributes (`CONTRACT_BASE`)

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object)
            - self (object)
                - href: /1.1/contract/475 (required)
        - _embedded (object)
            - `contract` (`CONTRACT_DETAIL`, required) - Detail zakázky


### Smazání zakázky [DELETE /contract/{id}]
Pokusí se smazat vybranou zakázku. Pokud je ovšem vázán na jiný záznam (faktury, platba apod.), vrátí chybu a zakázka se nesmaže.
+ Parameters
    + id: 123 (number, required)

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 204

## Provozovny [/business_premises]
<a name="business-premises"></a>

### Seznam provozoven [GET /business_premises{?page,pageSize}]
+ Parameters
    + page: `1` (number, optional) - Číslo stránky
    + pageSize: `50` (number, optional) - Počet záznamů na stránku
    
+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object)
            - self (object)
                - href: /1.1/business_premises (required)
        - _embedded (object)
            - `business_premises` (array[`BUSINESS_PREMISES_LIST`], required) - Pole dostupných provozoven
        - Include (`PAGING`, optional) - Stránkování, pouze pokud je nastaveno v parametru dotazu

### Detail provozovny [GET /business_premises/{id}]
+ Parameters
    + id: 123 (number, required)

+ Request
    + Headers

            X-Auth-Key: api-key


+ Response 200 (application/json)
    + Attributes (object)
        - _link (object)
            - self (object)
                - href: /1.1/business_premises/897 (required)
        - _embedded (object)
            - `business_premises` (`BUSINESS_PREMISES_DETAIL`, required) - Detail provozovny

# Group Adresář

## Zákazníci [/customer]
<a name="zakaznici" />

### Seznam zákazníků [GET /customer{?page,pageSize}]
Zjednodušený výpis všech dostupných zákazníků.

+ Parameters
    + page: `1` (number, optional) - Číslo stránky
    + pageSize: `50` (number, optional) - Počet záznamů na stránku

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/customer (required)
        - _embedded (object, required)
            - `customer` (array[`CUSTOMER_LIST`], required) - Pole zákazníků
        - Include (`PAGING`, optional) - Stránkování, pouze pokud je nastaveno v parametru dotazu

### Detail zákazníka [GET /customer/{id}]
Podrobný výpis zákazníka

+ Parameters
    + id: 123 (number, required)

+ Request
    + Headers

            X-Auth-Key: api-key


+ Response 200 (application/json)
    + Attributes (`CUSTOMER_DETAIL`)

### Vytvoření zákazníka [POST /customer]
Přidání zákazníka do adresáře

+ Request (application/json)
    + Headers

            X-Auth-Key: api-key

    + Attributes (`CUSTOMER_PARAMS`)

+ Response 201 (application/json)
    + Attributes (`CUSTOMER_DETAIL`)

### Editace zákazníka [PUT /customer/{id}]
Úprava exitujícího zákazníka

+ Parameters
    + id: 123 (number, required)

+ Request (application/json)
    + Headers

            X-Auth-Key: api-key

    + Attributes (`CUSTOMER_PARAMS`)

+ Response 200 (application/json)
    + Attributes (`CUSTOMER_DETAIL`)

### Smazání zákazníka [DELETE /customer/{id}]
Pokusí se smazat vybraného zákazníka. Pokud je ovšem vázán na jiný záznam (faktury, platba apod.), vrátí chybu a zákazník se nesmaže.

+ Parameters
    + id: 123 (number, required)

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 204
## Skupiny zákazníků [/customer_group]
<a name="customer-group"></a>

### Seznam skupin zákazníků[GET /customer_group{?page,pageSize}]
Seznam dostupných [účetních skupin pro zákazníky](https://online.iucto.cz/customergroup).
+ Parameters
    + page: `1` (number, optional) - Číslo stránky
    + pageSize: `50` (number, optional) - Počet záznamů na stránku
+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object)
            - self (object)
                - href: /1.1/customer_group (required)
        - _embedded (object)
            - `customer_group` (array[`CUSTOMER_GROUP_LIST`], required) - Pole skupin
        - Include (`PAGING`, optional) - Stránkování, pouze pokud je nastaveno v parametru dotazu
## Dodavatelé [/supplier]
<a name="dodavatele" />

### Seznam dodavatelů [GET /supplier{?page,pageSize}]
Zjednodušený výpis všech dostupných dodavatelů.

+ Parameters
    + page: `1` (number, optional) - Číslo stránky
    + pageSize: `50` (number, optional) - Počet záznamů na stránku

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/supplier (required)
        - _embedded (object, required)
            - `supplier` (array[`SUPPLIER_LIST`], required) - Pole dodavatelů
        - Include (`PAGING`, optional) - Stránkování, pouze pokud je nastaveno v parametru dotazu

### Detail dodavatele [GET /supplier/{id}]
Podrobný výpis dodavatele

+ Parameters
    + id: 123 (number, required)

+ Request
    + Headers

            X-Auth-Key: api-key


+ Response 200 (application/json)
    + Attributes (`SUPPLIER_DETAIL`)

### Vytvoření dodavatele [POST /supplier]
Přidání dodavatele do adresáře

+ Request (application/json)
    + Headers

            X-Auth-Key: api-key

    + Attributes (`SUPPLIER_PARAMS`)

+ Response 201 (application/json)
    + Attributes (`SUPPLIER_DETAIL`)

### Editace dodavatele [PUT /supplier/{id}]
Úprava exitujícího dodavatele

+ Parameters
    + id: 123 (number, required)

+ Request (application/json)
    + Headers

            X-Auth-Key: api-key

    + Attributes (`SUPPLIER_PARAMS`)

+ Response 200 (application/json)
    + Attributes (`SUPPLIER_DETAIL`)

### Smazání dodavatele [DELETE /supplier/{id}]
Pokusí se smazat vybraného dodavatele.
Pokud je ovšem vázán na jiný záznam (faktury, platba apod.), vrátí chybu a dodavatele se nesmaže.

+ Parameters
    + id: 123 (number, required)

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 204
## Skupiny dodavatelů [/supplier_group]
<a name="supplier-group"></a>

### Seznam skupin dodavatelů[GET /supplier_group{?page,pageSize}]
Seznam dostupných [účetních skupin pro dodavatele](https://online.iucto.cz/suppliergroup).
+ Parameters
    + page: `1` (number, optional) - Číslo stránky
    + pageSize: `50` (number, optional) - Počet záznamů na stránku
+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object)
            - self (object)
                - href: /1.1/supplier_group (required)
        - _embedded (object)
            - `supplier_group` (array[`SUPPLIER_GROUP_LIST`], required) - Pole skupin
        - Include (`PAGING`, optional) - Stránkování, pouze pokud je nastaveno v parametru dotazu
## Země [/country]
<a name="country"></a>
Zde uvedený výpis není kompletní, jedná se pouze o vzor.
### Seznam zemí  [GET]
+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/json)
    + Attributes (COUNTRY)
# Preferované metody platby [/preferred_payment_method]
<a name="preferred-payment-method"></a>

### Seznam preferovaných metod platby  [GET]
+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/json)
    + Attributes (`PREFERRED_PAYMENT_METHOD`)


# Group Doklady vydané

## Objednávky [/order_received]
<a name="objednavky-prijate"/>

### Seznam objednávek [GET /order_received{?page,pageSize}]
Výpis všech dostupných dokladů.
+ Parameters
    + page: `1` (number, optional) - Číslo stránky
    + pageSize: `50` (number, optional) - Počet záznamů na stránku

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/order_received (required)
        - _embedded (object, required)
            - `order_received` (array[`ORDER_RECEIVED_LIST`], required) - Pole dostupných dokladů
        - Include (`PAGING`, optional) - Stránkování, pouze pokud je nastaveno v parametru dotazu

### Detail objednávky [GET /order_received/{id}]
+ Parameters
    + id: 123 (number, required)

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/order_received/123 (required)
        - _embedded (object, required)
            - `order_received` (`ORDER_RECEIVED_DETAIL`, required) - Detail dokladu




### Vytvoření nové objednávky [POST /order_received]
+ Request (application/json)
    + Headers

            X-Auth-Key: api-key

    + Attributes (`ORDER_RECEIVED_CREATE`)

+ Response 201 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/order_received/123 (required)
        - _embedded (object, required)
            - `order_received` (`ORDER_RECEIVED_DETAIL`, required) - Detail dokladu


### Editace objednávky [PUT /order_received/{id}]
+ Parameters
    + id: 123 (number, required)

+ Request (application/json)
    + Headers

            X-Auth-Key: api-key

    + Attributes (`ORDER_RECEIVED_CREATE`)

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/order_received/123 (required)
        - _embedded (object, required)
            - `order_received` (`ORDER_RECEIVED_DETAIL`, required) - Detail dokladu


### Smazání objednávky [DELETE /order_received/{id}]
Pokusí se smazat vybraný dokladu. Pokud je doklad vázán na jiný záznam, vrátí chybu a doklad se nesmaže.
+ Parameters
    + id: 123 (number, required)

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 204
## Zálohové faktury vydané [/proforma_invoice_issued]
<a name="zalohove-faktury-vydane" />

### Seznam zálohových faktur vydané [GET /proforma_invoice_issued{?page,pageSize}]
+ Parameters
    + page: `1` (number, optional) - Číslo stránky
    + pageSize: `50` (number, optional) - Počet záznamů na stránku

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/proforma_invoice_issued (required)
        - _embedded (object, required)
            - `proforma_invoice_issued` (array[`PROFORMA_INVOICE_ISSUED_LIST`], required) - Pole dostupných vydaných zálohových faktur
        - Include (`PAGING`, optional) - Stránkování, pouze pokud je nastaveno v parametru dotazu

### Detail zálohové faktury vydané [GET /proforma_invoice_issued/{id}]
+ Parameters
    + id: 123 (number, required)

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/proforma_invoice_issued/123 (required)
        - _embedded (object, required)
            - `proforma_invoice_issued` (`PROFORMA_INVOICE_ISSUED_DETAIL`, required) - Detail faktury

### Vytvoření zálohové faktury vydané [POST /proforma_invoice_issued]

**Neplátci DPH**

Tyto parametry nejsou povinné
- `date_vat`, `date_vat_prev`, `items.unit_price_inc_vat`, `items.vat`,  `items.vat_total`, `items.vattype_id`, `items.vat_chart_id`


**Zaúčtování položek**

- Parametry `accountentrytype_id` a `vattype_id` přepisují hodnoty `chart_account_id` a `vat_chart_id`.


+ Request (application/json)
    + Headers

            X-Auth-Key: api-key

    + Attributes (`PROFORMA_INVOICE_ISSUED_CREATE`)

+ Response 201 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/proforma_invoice_issued/123 (required)
        - _embedded (object, required)
            - `proforma_invoice_issued` (`PROFORMA_INVOICE_ISSUED_DETAIL`, required) - Detail faktury

### Editace zálohové faktury vydané [PUT /proforma_invoice_issued/{id}]
+ Parameters
    + id: 123 (number, required)

+ Request (application/json)
    + Headers

            X-Auth-Key: api-key

    + Attributes (`PROFORMA_INVOICE_ISSUED_CREATE`)

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/proforma_invoice_issued/123 (required)
        - _embedded (object, required)
            - `proforma_invoice_issued` (`PROFORMA_INVOICE_ISSUED_DETAIL`, required) - Detail faktury

### Stažení PDF zálohové faktury vydané [GET /proforma_invoice_issued/{id}/pdf]

Vrátí binární data PDF souboru pro tisk nebo uložení do souboru.

+ Parameters
    + id: 123 (number, required)

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/pdf)

### Smazání zálohové faktury vydané [DELETE /proforma_invoice_issued/{id}]

Pokusí se smazat vybraný dokladu. Pokud je doklad vázán na jiný záznam, vrátí chybu a doklad se nesmaže.

+ Parameters
    + id: 123 (number, required)

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 204
## Faktury vydané [/invoice_issued]
<a name="faktury-vydane"/>

### Seznam faktur vydaných [GET /invoice_issued{?page,pageSize,customer_id,customer_ico,date_from,date_to,maturity_date_from,maturity_date_to,date_vat_from,date_vat_to,sequence_code,variable_symbol,currency,price_from,price_to,paid,deleted,accounted,payment_type,bank_account}]
+ Parameters
    + page: `1` (number, optional) - Číslo stránky
    + pageSize: `50` (number, optional) - Počet záznamů na stránku
    + customer_id: `1234` (number, optional) - ID odběratele
    + customer_ico: `11122233` (string, optional) - IČO odběratele
    + date_from: `2019-01-01` (date, optional) - Datum vystavení OD
    + date_to: `2019-02-01` (date, optional) - Datum vystavení DO
    + maturity_date_from: `2019-01-01` (date, optional) - Datum splatnosti OD
    + maturity_date_to: `2019-02-01` (date, optional) - Datum splatnosti DO
    + date_vat_from: `2019-01-01` (date, optional) - Datum zdanitelného plnění OD
    + date_vat_to: `2019-02-01` (date, optional) - Datum zdanitelného plnění DO
    + sequence_code: `FV20190005` (string, optional) - Číslo dokladu
    + variable_symbol: `11112222` (string, optional) - Variabilní symbol
    + currency: `CZK` (string, optional) - Měna dokladu
    + price_from: `50` (price, optional) - Cena celkem OD
    + price_to: `100` (price, optional) - Cena celkem DO
    + paid: `true` (boolean, optional) - Zaplaceno
    + deleted: `false` (boolean, optional) - Smazáno
    + accounted: `true` (boolean, optional) - Zaúčtované
    + payment_type: `256` (number, optional) - ID forma úhrady
    + bank_account: `303` (number, optional) - ID bankovní účet

+ Request
    + Headers

            X-Auth-Key: api-key


+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/invoice_issued (required)
        - _embedded (object, required)
            - `invoice_issued` (array[`INVOICE_ISSUED_LIST`], required) - Pole dostupných vydaných faktur
        - Include (`PAGING`, optional) - Stránkování, pouze pokud je nastaveno v parametru dotazu

### Detail faktury vydané [GET /invoice_issued/{id}]
+ Parameters
    + id: 123 (number, required)

+ Request
    + Headers

            X-Auth-Key: api-key


+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/invoice_issued/123 (required)
        - _embedded (object, required)
            - `invoice_issued` (INVOICE_ISSUED_DETAIL, required) - Detail faktury

### Vytvoření faktury vydané [POST /invoice_issued]

**Neplátci DPH**

Tyto parametry nejsou povinné
- `date_vat`, `date_vat_prev`, `items.unit_price_inc_vat`, `items.vat`,  `items.vat_total`, `items.vattype_id`, `items.vat_chart_id`


**Zaúčtování položek**

- Parametry `accountentrytype_id` a `vattype_id` přepisují hodnoty `chart_account_id` a `vat_chart_id`.


**Připojení objednávky**

Pro připojení objednávky k fakturě, stačí přidat ID objednávky do proměnné `order_id`.


**Připojení zálohových faktur** *(od verze 1.2)*

K faktuře vydané lze připojit několik zálohových faktur předáním pole s jejich ID v proměnné `proforma_invoice`.


**Nastavení upomínek**

Maximálně lze nastavit čtyři upomínky.
Datum splatnosti musí být před, nebo v den upomínky.


**EET**

Přidání EET k dokladu lze dvěmy způsoby.
- Nastavením parametru `eet = true` se automaticky odešle EET zpráva (pouze při vytváření dokladu).
- Zápisem již odeslané EET zprávy do endpointu [**EET zprávy**](#eet-zpravy) a nastavnám ID zprávy do proměnné `eet_status`.


+ Request (application/json)
    + Headers

            X-Auth-Key: api-key

    + Attributes (`INVOICE_ISSUED_CREATE`)

+ Response 201 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/invoice_issued/123 (required)
        - _embedded (object, required)
            - `invoice_issued` (INVOICE_ISSUED_DETAIL, required) - Detail faktury

### Editace faktury vydané [PUT /invoice_issued/{id}]

Nelze editovat doklady s EET, použijte [Opravný daňový doklad](#opravne-danove-doklady).

+ Parameters
    + id: 123 (number, required)

+ Request (application/json)
    + Headers

            X-Auth-Key: api-key

    + Attributes (`INVOICE_ISSUED_CREATE`)

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/invoice_issued/123 (required)
        - _embedded (object, required)
            - `invoice_issued` (INVOICE_ISSUED_DETAIL, required) - Detail faktury

### Stažení PDF faktury vydané [GET /invoice_issued/{id}/pdf]

Vrátí binární data PDF souboru pro tisk nebo uložení do souboru.

+ Parameters
    + id: 123 (number, required)

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/pdf)


### Smazání faktury vydané [DELETE /invoice_issued/{id}]

Pokusí se smazat vybraný dokladu. Pokud je doklad vázán na jiný záznam, vrátí chybu a doklad se nesmaže.

Nelze smazat doklady s EET, použijte [Opravný daňový doklad](#opravne-danove-doklady).

+ Parameters
    + id: 123 (number, required)

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 204
## Opravné daňové doklady [/creditnote_issued]
<a name="opravne-danove-doklady"/>

### Seznam opravných dokladů [GET /creditnote_issued{?page,pageSize}]
Výpis všech dostupných dokladů.

+ Parameters
    + page: `1` (number, optional) - Číslo stránky
    + pageSize: `50` (number, optional) - Počet záznamů na stránku

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/creditnote_issued (required)
        - _embedded (object, required)
            - `creditnote_issued` (array[`CREDITNOTE_ISSUED_LIST`], required) - Pole dostupných vydaných dokladů
        - Include (`PAGING`, optional) - Stránkování, pouze pokud je nastaveno v parametru dotazu

### Detail opravného dokladu [GET /creditnote_issued/{id}]
+ Parameters
    + id: 123 (number, required)

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/creditnote_issued/123 (required)
        - _embedded (object, required)
            - `creditnote_issued` (`CREDITNOTE_ISSUED_DETAIL`, required) - Detail dokladu



### Vytvoření opravného dokladu [POST /creditnote_issued]

**Neplátci DPH**

Tyto parametry nejsou povinné
- `date_vat`, `date_vat_prev`, `items.unit_price_inc_vat`, `items.vat`,  `items.vat_total`, `items.vattype_id`, `items.vat_chart_id`


**Zaúčtování položek**

- Parametry `accountentrytype_id` a `vattype_id` přepisují hodnoty `chart_account_id` a `vat_chart_id`.


**EET**

Přidání EET k dokladu lze dvěmy způsoby.
- Nastavením parametru `eet = true` se automaticky odešle EET zpráva (pouze při vytváření dokladu).
- Zápisem již odeslané EET zprávy do endpointu [**EET zprávy**](#eet-zpravy) a nastavnám ID zprávy do proměnné `eet_status`.


+ Request (application/json)
    + Headers

            X-Auth-Key: api-key

    + Attributes (`CREDITNOTE_ISSUED_CREATE`)

+ Response 201 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/creditnote_issued/123 (required)
        - _embedded (object, required)
            - `creditnote_issued` (`CREDITNOTE_ISSUED_DETAIL`, required) - Detail dokladu

### Editace opravného dokladu [PUT /creditnote_issued/{id}]

Nelze  editovat doklady s EET, použijte nový [**Opravný daňový doklad**](#opravne-danove-doklady).

+ Parameters
    + id: 123 (number, required)

+ Request (application/json)
    + Headers

            X-Auth-Key: api-key

    + Attributes (`CREDITNOTE_ISSUED_CREATE`)

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/creditnote_issued/123 (required)
        - _embedded (object, required)
            - `creditnote_issued` (`CREDITNOTE_ISSUED_DETAIL`, required) - Detail dokladu


### Smazání opravného dokladu [DELETE /creditnote_issued/{id}]
Pokusí se smazat vybraný dokladu. Pokud je doklad vázán na jiný záznam, vrátí chybu a doklad se nesmaže.
Nelze smazat doklady s EET, použijte nový [**Opravný daňový doklad**](#opravne-danove-doklady).
+ Parameters
    + id: 123 (number, required)

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 204

# Group Doklady přijaté
## Objednávky vydané [/order_issued]
<a name="objednavky-vydane"/>

### Seznam objednávek vydaných [GET /order_issued{?page,pageSize}]
Výpis všech dostupných dokladů.
+ Parameters
    + page: `1` (number, optional) - Číslo stránky
    + pageSize: `50` (number, optional) - Počet záznamů na stránku


+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/order_issued (required)
        - _embedded (object, required)
            - `order_issued` (array[`ORDER_ISSUED_LIST`], required) - Pole dostupných dokladů
        - Include (`PAGING`, optional) - Stránkování, pouze pokud je nastaveno v parametru dotazu

### Detail objednávky vydané [GET /order_issued/{id}]
+ Parameters
    + id: 123 (number, required)

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/order_issued/123 (required)
        - _embedded (object, required)
            - `order_issued` (`ORDER_ISSUED_DETAIL`, required) - Detail dokladu



### Vytvoření objednávky vydané [POST /order_issued]
+ Request (application/json)
    + Headers

            X-Auth-Key: api-key

    + Attributes (`ORDER_ISSUED_CREATE`)

+ Response 201 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/order_issued/123 (required)
        - _embedded (object, required)
            - `order_issued` (`ORDER_ISSUED_DETAIL`, required) - Detail dokladu




### Editace objednávky vydané [PUT /order_issued/{id}]
+ Parameters
    + id: 123 (number, required)

+ Request (application/json)
    + Headers

            X-Auth-Key: api-key

    + Attributes (`ORDER_ISSUED_CREATE`)

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/order_issued/123 (required)
        - _embedded (object, required)
            - `order_issued` (`ORDER_ISSUED_DETAIL`, required) - Detail dokladu



### Smazání objednávky vydané [DELETE /order_issued/{id}]
Pokusí se smazat vybraný dokladu. Pokud je doklad vázán na jiný záznam, vrátí chybu a doklad se nesmaže.
+ Parameters
    + id: 123 (number, required)

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 204
## Zálohové faktury přijaté [/proforma_invoice_received]
<a name="zalohove-faktury-prijate" />

### Seznam zálohových faktur přijatých [GET /proforma_invoice_received{?page,pageSize}]
+ Parameters
    + page: `1` (number, optional) - Číslo stránky
    + pageSize: `50` (number, optional) - Počet záznamů na stránku

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/proforma_invoice_received (required)
        - _embedded (object, required)
            - `proforma_invoice_received` (array[`PROFORMA_INVOICE_RECEIVED_LIST`], required) - Pole dostupných přijatých zálohových faktur
        - Include (`PAGING`, optional) - Stránkování, pouze pokud je nastaveno v parametru dotazu

### Detail zálohové faktury přijaté [GET /proforma_invoice_received/{id}]
+ Parameters
    + id: 123 (number, required)

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/proforma_invoice_received/123 (required)
        - _embedded (object, required)
            - `proforma_invoice_received` (`PROFORMA_INVOICE_RECEIVED_DETAIL`, required) - Detail faktury

### Vytvoření zálohové faktury přijaté [POST /proforma_invoice_received]

**Neplátci DPH**

Tyto parametry nejsou povinné
- `date_vat`, `date_vat_prev`, `items.unit_price_inc_vat`, `items.vat`,  `items.vat_total`, `items.vattype_id`, `itemsvat_chart_id`


**Zaúčtování položek**

- Parametry `accountentrytype_id` a `vattype_id` přepisují hodnoty `chart_account_id` a `vat_chart_id`.


+ Request (application/json)
    + Headers

            X-Auth-Key: api-key

    + Attributes (`PROFORMA_INVOICE_RECEIVED_CREATE`)

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/proforma_invoice_received/123 (required)
        - _embedded (object, required)
            - `proforma_invoice_received` (`PROFORMA_INVOICE_RECEIVED_DETAIL`, required) - Detail faktury

### Editace zálohové faktury přijaté [PUT /proforma_invoice_received/{id}]
+ Parameters
    + id: 123 (number, required)

+ Request (application/json)
    + Headers

            X-Auth-Key: api-key

    + Attributes (`PROFORMA_INVOICE_RECEIVED_CREATE`)

+ Response 200 (application/json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/proforma_invoice_received/123 (required)
        - _embedded (object, required)
            - `proforma_invoice_received` (`PROFORMA_INVOICE_RECEIVED_DETAIL`, required) - Detail faktury

### Smazání zálohové faktury přijaté [DELETE /proforma_invoice_received/{id}]

Pokusí se smazat vybraný dokladu. Pokud je doklad vázán na jiný záznam, vrátí chybu a doklad se nesmaže.

+ Parameters
    + id: 123 (number, required)

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 204
## Faktury přijaté [/invoice_received]
<a name="faktury-prijate"/>

### Seznam faktur přijatých [GET]
+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/invoice_received (required)
        - _embedded (object, required)
            - `invoice_received` (array[`INVOICE_RECEIVED_LIST`], required) - Pole dostupných přijatých faktur

### Detail faktury přijaté [GET /invoice_received/{id}]
+ Parameters
    + id: 123 (number, required)

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/invoice_received/123 (required)
        - _embedded (object, required)
            - `invoice_received` (`INVOICE_RECEIVED_DETAIL`, required) - Detail faktury

### Vytvoření faktury přijaté [POST /invoice_received]
+ Request (application/json)
    + Headers

            X-Auth-Key: api-key

    + Attributes (`INVOICE_RECEIVED_CREATE`)

+ Response 201 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/invoice_received/123 (required)
        - _embedded (object, required)
            - `invoice_received` (`INVOICE_RECEIVED_DETAIL`, required) - Detail faktury


### Editace faktury přijaté [PUT /invoice_received/{id}]
+ Parameters
    + id: 123 (number, required)

+ Request (application/json)
    + Headers

            X-Auth-Key: api-key

    + Attributes (`INVOICE_RECEIVED_CREATE`)

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/invoice_received/123 (required)
        - _embedded (object, required)
            - `invoice_received` (`INVOICE_RECEIVED_DETAIL`, required) - Detail faktury


### Smazání faktury přijaté [DELETE /invoice_received/{id}]
Pokusí se smazat vybraný dokladu. Pokud je doklad vázán na jiný záznam, vrátí chybu a doklad se nesmaže.
+ Parameters
    + id: 123 (number, required)

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 204


# Group Platby
## Platby vydané [/payment_issued]
<a name="platby-vydane"/>

### Seznam plateb vydaných [GET /payment_issued{?page,pageSize,invoice_id}]
+ Parameters
    + page: `1` (number, optional) - Číslo stránky
    + pageSize: `50` (number, optional) - Počet záznamů na stránku
    + invoice_id: `12,55` (string, optional) - Filtr dle ID faktury (čárkou oddělená čísla)

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/payment_issued (required)
        - Include (`PAGING`, optional) - Stránkování, pouze pokud je nastaveno v parametru dotazu
        - _embedded (object, required)
            - `payment_issued` (array[`PAYMENT_ISSUED_LIST`], required) - Pole dostupných dokladů



### Detail platby vydané [GET /payment_issued/{id}]
+ Parameters
    + id: 123 (number, required)

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/payment_issued/123 (required)
        - _embedded (object, required)
            - `payment_issued` (`PAYMENT_ISSUED_DETAIL`, required) - Detail dokladu

### Vytvoření platby vydané [POST /payment_issued]

Nelze nastavit současně zákazníka a dodavatele, či bankovní účet a pokladnu.

+ Request (application/json)
    + Headers

            X-Auth-Key: api-key

    + Attributes (`PAYMENT_ISSUED_CREATE`)

+ Response 201 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/payment_issued/123 (required)
        - _embedded (object, required)
            - `paymnet_issued` (`PAYMENT_ISSUED_DETAIL`, required) - Detail dokladu


### Editace platby vydané [PUT /payment_issued/{id}]
+ Parameters
    + id: 123 (number, required)

+ Request (application/json)
    + Headers

            X-Auth-Key: api-key

    + Attributes (`PAYMENT_ISSUED_CREATE`)

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/payment_issued/123 (required)
        - _embedded (object, required)
            - `payment_issued` (`PAYMENT_ISSUED_DETAIL`, required) - Detail dokladu

### Smazání platby vydané [DELETE /payment_issued/{id}]
Pokusí se smazat vybraný dokladu. Pokud je doklad vázán na jiný záznam, vrátí chybu a doklad se nesmaže.
+ Parameters
    + id: 123 (number, required)

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 204
## Platby přijaté [/payment_received]
<a name="platby-prijate"/>

### Seznam plateb přijatých [GET /payment_received{?page,pageSize,invoice_id}]
+ Parameters
    + page: `1` (number, optional) - Číslo stránky
    + pageSize: `50` (number, optional) - Počet záznamů na stránku
    + invoice_id: `12,55` (string, optional) - Filtr dle ID faktury (čárkou oddělená čísla)

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/payment_received (required)
        - Include (`PAGING`, optional) - Stránkování, pouze pokud je nastaveno v parametru dotazu
        - _embedded (object, required)
            - `payment_received` (array[`PAYMENT_RECEIVED_LIST`], required) - Pole dostupných dokladů

### Detail platby přijaté [GET /payment_received/{id}]
+ Parameters
    + id: 123 (number, required)

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/payment_received/123 (required)
        - _embedded (object, required)
            - `payment_received` (`PAYMENT_RECEIVED_DETAIL`, required) - Detail dokladu

### Vytvoření platby přijaté [POST /payment_received]

**Podle hodnoty 'payment_type' je nutné nastavit buď pokladnu nebo bankovní účet.**

Pokud je v nastavení klienta řádně nastavené EET, `payment_type` = 'cash' a pokladna je povolena pro EET, je možné použít parametr `eet` = 'true', který odešle platbu do EET.


Pro přidání dokladu s již odeslanou [**EET zprávou**](#eet-zpravy), nejprve vytvořte samostatně EET záznam, jehož ID nastavíte jako parametr `eet_status`.
Záznamy se automaticky propojí.


+ Request (application/json)
    + Headers

            X-Auth-Key: api-key

    + Attributes (`PAYMENT_RECEIVED_CREATE`)

+ Response 201 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/payment_received/123 (required)
        - _embedded (object, required)
            - `paymnet_received` (`PAYMENT_RECEIVED_DETAIL`, required) - Detail dokladu

### Editace platby přijaté [PUT /payment_received/{id}]

Platby s EET nelze editovat, použijte Vrácení přijaté EET platby.

+ Parameters
    + id: 123 (number, required)

+ Request (application/json)
    + Headers

            X-Auth-Key: api-key

    + Attributes (`PAYMENT_RECEIVED_CREATE`)

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/payment_received/123 (required)
        - _embedded (object, required)
            - `payment_received` (`PAYMENT_RECEIVED_DETAIL`, required) - Detail dokladu

### Smazání platby přijaté [DELETE /payment_received/{id}]
Pokusí se smazat vybraný dokladu. Pokud je doklad vázán na jiný záznam, vrátí chybu a doklad se nesmaže.
Platby s EET nelze editovat, použijte Vrácení přijaté platby.
+ Parameters
    + id: 123 (number, required)

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 204
## Bankovní pohyby [/bank_transaction]
<a name="bankovni-pohyby"/>
Umožňuje automatické spárování účetní dokladů s pohyby na bankovních účtech.

Po vložení nového pohybu se systém pokusí automaticky pohyb spárovat s existující fakturou.

### Seznam bankovních pohybů [GET /bank_transaction{?page,pageSize}]

Seznam bankovních pohybů, které jsou již importované v systému.

+ Parameters
    + page: `1` (number, optional) - Číslo stránky
    + pageSize: `50` (number, optional) - Počet záznamů na stránku

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object)
            - self (object)
                - href: /1.1/bank_transaction (required)
        - _embedded (object)
            - `bank_transaction` (array[`BANK_STATEMENT_LIST`], required) - Pole transakcí
        - Include (`PAGING`, optional) - Stránkování, pouze pokud je nastaveno v parametru dotazu

### Detail bankovního pohybu [GET /bank_transaction/{id}]

Podrobné informace k pohybu, včetně spárovaných dokladů.

+ Parameters
    + id: 123 (number, required)

+ Request
    + Headers

            X-Auth-Key: api-key


+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object)
            - self (object)
                - href: /1.1/bank_transaction/123 (required)
        - _embedded (object)
            - `bank_transaction` (BANK_STATEMENT_DETAIL, required) - Detail transakce

### Import bankovního pohybu [POST /bank_transaction/{id}]

Přenesení nového pohybu do systému.

Pohyb může být označen jedinečným identifikátorem (`reference_number`) z výpisu, který zamezí duplicitám.

Součástí importu je automatický pokus o spárování dokladu s exitujícími doklady v systému.

**Pravidla pro spárování**
- Pohyb musí obsahovat položky `variable_symbol` a `bank_account`.
- Existuje právě jeden doklad s tímto variabilním symbolem a bankovním účtem, bude doklad spárován s pohybem.
- Nesmí být na pohybu větší částka než je na dokladu.

**Hodnoty závislé na směru transakce**

Pokud je transakce příchozí je protistranou [Zákazník](#zakaznici) a s účetními parametry se zachází jako u [Platby přijaté](#platby-prijate).
- `coountraparty`
- `account_entry_type`
- `vat_type`

+ Parameters
    + id: 123 (number, required)

+ Request (application/json)
    + Headers

            X-Auth-Key: api-key

    + Attributes (`BANK_STATEMENT_PARAMS`)


+ Response 201 (application/hal+json)
    + Attributes (object)
        - _link (object)
            - self (object)
                - href: /1.1/bank_transaction/123 (required)
        - _embedded (object)
            - `bank_transaction` (`BANK_STATEMENT_DETAIL`, required) - Detail transakce


### Editace bankovního pohybu [PUT /bank_transaction/{id}]
Při editaci typu platby (`payment_type`) se musí také změnit hodnoty `counterparty` , `account_entry_type` a `vat_type`, tak aby odpovídali typu dokladu.

+ Parameters
    + id: 123 (number, required)

+ Request (application/json)
    + Headers

            X-Auth-Key: api-key

    + Attributes (`BANK_STATEMENT_PARAMS`)

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object)
            - self (object)
                - href: /1.1/bank_transaction/123 (required)
        - _embedded (object)
            - `bank_transaction` (`BANK_STATEMENT_DETAIL`, required) - Detail transakce

### Zaúčtování platby [GET /bank_transaction/{id}/account]

Automatické vytvoření platby, pokud je bankovní pohyb úspěšně spárovaný s dokladem.

+ Parameters
    + id: 123 (number, required)

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/pdf)


### Smazání bankovního pohybu [DELETE /bank_transaction/{id}]
+ Parameters
    + id: 123 (number, required)

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 204

# Group Účetnictví

## Kurzy DPH [/vat_rates]
<a name="kurz-dph"/>

### Seznam kurzů DPH [GET /vat_rates?date={date}]
+ Parameters
    + date (string) ... Datum ve formátu yyy-mm-dd, pro které nás zajímají sazby

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/json)

        [21,15,0]
## Typy účetních položek [/accountentry_type?doctype={doctype}]
<a name="polozky-typy-uc-polozek"/>

### Seznam typů účetních položek [GET]
Odpověď obsahuje pole dostupných účetních položek v závislosti na parametru `doctype`.

Formát odpovědi:
`{"id": "popis"}`

+ Parameters
    + doctype (string) ... Typ dokladu. Pro seznam dostupných hodnot si přejděte na [Typy dokladů](#typy-dokladu)

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/json)

        {"141":"Bonusy od banky","163":"Da\u0148ov\u00fd bonus","167":"Da\u0148ov\u00fd doklad","62":"Dopravn\u00e9\/ p\u0159epravn\u00e9","149":"Dotace organiza\u010dn\u00ed slo\u017eky","166":"Kurzov\u00e9 zisky","176":"Kurzov\u00fd rozd\u00edl zisk","99":"Myln\u00e1 p\u0159\u00edchoz\u00ed platba","159":"Pen\u00edze na cest\u011b - p\u0159\u00edjem","136":"P\u0159evod mezi bankovn\u00edmi \u00fa\u010dty","126":"P\u0159ijat\u00e9 z\u00e1lohy ","10":"Prodej majetku","30":"Prodej materi\u00e1lu","7":"Prodej slu\u017eby","130":"Prodej slu\u017eby - extern\u00ed servis","171":"Prodej slu\u017eby - lokalizace","172":"Prodej slu\u017eby - marketing","142":"Prodej slu\u017eby - n\u00e1jem","170":"Prodej slu\u017eby - p\u0159eklady","144":"Prodej slu\u017eby - pron\u00e1jem zemn\u00edho stroje","131":"Prodej slu\u017eby - servis za\u0159\u00edzen\u00ed","173":"Prodej slu\u017eby - v\u00fduka","8":"Prodej v\u00fdrobky","3":"Prodej zbo\u017e\u00ed","168":"Smluvn\u00ed pokuty a \u00faroky z prodlen\u00ed","12":"\u00dahrada faktury vydan\u00e9","153":"\u00dahrada pohled\u00e1vky za spole\u010dn\u00edkem","187":"\u00dahrada z\u00e1lohov\u00e9 faktury vydan\u00e9","31":"\u00darok","1":"\u00darok z bankovn\u00edho \u00fa\u010dtu","162":"Vklad fyzick\u00e9 osoby do podnik\u00e1n\u00ed","134":"Vklad spole\u010dn\u00edka spole\u010dnosti","140":"Vr\u00e1cen\u00ed DPH finan\u010dn\u00edm \u00fa\u0159adem","146":"V\u00fdb\u011br z banky na pokladnu","132":"Vy\u00fa\u010dtov\u00e1n\u00ed odvodu hotovosti z pokladny","38":"Zaokrouhlen\u00ed ","139":"Zv\u00fd\u0161en\u00ed z\u00e1kladn\u00edho kapit\u00e1lu"}
## Typy DPH [/vat_type?doctype={doctype}]
<a name="typy-dph"/>

### Seznam typů DPH [GET]
Odpověď obsahuje pole dostupných typů DPH v závislosti na parametru `doctype`.

Formát odpovědi:
`{"id": "popis"}`

+ Parameters
    + doctype (string) ... Typ dokladu. Pro seznam dostupných hodnot si přejděte na [Typy dokladů](#typy-dokladu)

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/json)

        {"20":"Bez DPH","11":"Dod\u00e1n\u00ed nov\u00e9ho dopravn\u00edho prost\u0159edku","3":"Dod\u00e1n\u00ed zbo\u017e\u00ed do EU","8":"Dod\u00e1n\u00ed zlata ","14":"Osvobozen\u00e9 pln\u011bn\u00ed bez odpo\u010dtu","13":"Osvobozen\u00e9 pln\u011bn\u00ed-n\u00e1rok ","4":"Poskytnut\u00ed slu\u017eby do EU","22":"P\u0159enesen\u00e1 da\u0148ov\u00e1 povinnost (dodavatel)","21":"P\u0159enesen\u00e1 da\u0148ov\u00e1 povinnost (odb\u011bratel)","15":"Slu\u017eby do zahrani\u010d\u00ed ","12":"V\u00fdvoz zbo\u017e\u00ed mimo EU ","23":"Zas\u00edl\u00e1n\u00ed zbo\u017e\u00ed","1":"Zdaniteln\u00e9 pln\u011bn\u00ed v \u010cR "}
## Účty účetní osnovy [/chart_account]
<a name="ucty-uc-osnovy"/>

### Seznam účtů účetní osnovy [GET]
Odpověď obsahuje pole dostupných účtů úč. osnovy pro použití v dokladech.

`{"id": "popis"}`

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/json)

        {"3":"010000 - Dlouhodob\u00fd nehmotn\u00fd majetek ","4":"011000 - Z\u0159izovac\u00ed v\u00fddaje ","5":"012000 - Nehmotn\u00e9 v\u00fdsledky v\u00fdzkumu a v\u00fdvoje ","6":"013000 - Software ","7":"014000 - Oceniteln\u00e1 pr\u00e1va ","8":"015000 - Goodwill ","9":"019000 - Jin\u00fd dlouhodob\u00fd nehmotn\u00fd majetek ","10":"021000 - Stavby ","11":"022000 - Samostatn\u00e9 movit\u00e9 v\u011bci a soubory movit\u00fdch v\u011bc\u00ed ","12":"025000 - P\u011bstitelsk\u00e9 celky trval\u00fdch porost\u016f ","13":"026000 - Dosp\u011bl\u00e1 zv\u00ed\u0159ata a jejich skupiny ","14":"029000 - Jin\u00fd dlouhodob\u00fd hmotn\u00fd majetek ","15":"031000 - Pozemky ","16":"032000 - Um\u011bleck\u00e1 d\u00edla a sb\u00edrky ","17":"040000 - Nedokon\u010den\u00fd dlouhodob\u00fd nehmotn\u00fd a hmotn\u00fd majetek a po\u0159izovan\u00fd dlouhodob\u00fd finan\u010dn\u00ed majetek ","18":"041000 - Po\u0159\u00edzen\u00ed dlouhodob\u00e9ho nehmotn\u00e9ho majetku ","19":"042000 - Po\u0159\u00edzen\u00ed dlouhodob\u00e9ho hmotn\u00e9ho majetku ","20":"043000 - Po\u0159\u00edzen\u00ed dlouhodob\u00e9ho finan\u010dn\u00edho majetku ","21":"050000 - Poskytnut\u00e9 z\u00e1lohy na dlouhodob\u00fd majetek ","22":"051000 - Poskytnut\u00e9 z\u00e1lohy na dlouhodob\u00fd nehmotn\u00fd majetek ","23":"052000 - Poskytnut\u00e9 z\u00e1lohy na dlouhodob\u00fd hmotn\u00fd majetek ","24":"053000 - Poskytnut\u00e9 z\u00e1lohy na dlouhodob\u00fd finan\u010dn\u00ed majetek ","25":"061000 - Pod\u00edly v ovl\u00e1dan\u00fdch a \u0159\u00edzen\u00fdch osob\u00e1ch ","26":"062000 - Pod\u00edly v \u00fa\u010detn\u00edch jednotk\u00e1ch pod podstatn\u00fdm vlivem ","27":"063000 - Ostatn\u00ed cenn\u00e9 pap\u00edry a pod\u00edly ","28":"065000 - Dluhov\u00e9 cenn\u00e9 pap\u00edry dr\u017een\u00e9 do splatnosti ","29":"066000 - P\u016fj\u010dky a \u00fav\u011bry - ovl\u00e1daj\u00edc\u00ed a \u0159\u00edd\u00edc\u00ed osoby, podstatn\u00fd vliv ","30":"067000 - Ostatn\u00ed p\u016fj\u010dky ","31":"069000 - Jin\u00fd dlouhodob\u00fd finan\u010dn\u00ed majetek ","32":"070000 - Opr\u00e1vky k dlouhodob\u00e9mu nehmotn\u00e9mu majetku ","33":"071000 - Opr\u00e1vky ke z\u0159izovac\u00edm v\u00fddaj\u016fm ","34":"072000 - Opr\u00e1vky k nehmotn\u00fdm v\u00fdsledk\u016fm v\u00fdzkumu a v\u00fdvoje ","35":"073000 - Opr\u00e1vky k softwaru ","36":"074000 - Opr\u00e1vky k oceniteln\u00fdm pr\u00e1v\u016fm ","37":"075000 - Opr\u00e1vky ke goodwillu ","38":"079000 - Opr\u00e1vky k jin\u00e9mu dlouhodob\u00e9mu nehmotn\u00e9mu majetku ","39":"081000 - Opr\u00e1vky ke stavb\u00e1m ","40":"082000 - Opr\u00e1vky k samost. movit\u00fdm v\u011bcem a soubor\u016fm movit\u00fdch v\u011bc\u00ed ","41":"085000 - Opr\u00e1vky k p\u011bstitelsk\u00fdm celk\u016fm trval\u00fdch porost\u016f ","42":"086000 - Opr\u00e1vky k z\u00e1kladn\u00edmu st\u00e1du a ta\u017en\u00fdm zv\u00ed\u0159at\u016fm ","43":"089000 - Opr\u00e1vky k jin\u00e9mu dlouhodob\u00e9mu hmotn\u00e9mu majetku ","44":"091000 - Opravn\u00e1 polo\u017eka k dlouhodob\u00e9mu nehmotn\u00e9mu majetku ","45":"092000 - Opravn\u00e1 polo\u017eka k dlouhodob\u00e9mu hmotn\u00e9mu majetku ","46":"093000 - Opravn\u00e1 polo\u017eka k dlouhodob\u00e9mu nedokon\u010den\u00e9mu nehmotn\u00e9mu majetku ","47":"094000 - Opravn\u00e1 polo\u017eka k dlouhodob\u00e9mu nedokon\u010den\u00e9mu hmotn\u00e9mu majetku ","48":"095000 - Opravn\u00e1 polo\u017eka k poskytnut\u00fdm z\u00e1loh\u00e1m na dlouhodob\u00fd majetek ","49":"096000 - Opravn\u00e1 polo\u017eka k dlouhodob\u00e9mu finan\u010dn\u00edmu majetku ","50":"097000 - Oce\u0148ovac\u00ed rozd\u00edl k nabyt\u00e9mu majetku ","51":"098000 - Opr\u00e1vky k oce\u0148ovac\u00edmu rozd\u00edlu k nabyt\u00e9mu majetku ","102":"111000 - Po\u0159\u00edzen\u00ed materi\u00e1lu ","103":"112000 - Materi\u00e1l na sklad\u011b ","104":"119000 - Materi\u00e1l na cest\u011b ","105":"121000 - Nedokon\u010den\u00e1 v\u00fdroba ","106":"122000 - Polotovary vlastn\u00ed v\u00fdroby ","107":"123000 - V\u00fdrobky ","115":"124000 - Mlad\u00e1 a ostatn\u00ed zv\u00ed\u0159ata a jejich skupiny ","108":"131000 - Po\u0159\u00edzen\u00ed zbo\u017e\u00ed ","109":"132000 - Zbo\u017e\u00ed na sklad\u011b a v prodejn\u00e1ch ","110":"139000 - Zbo\u017e\u00ed na cest\u011b ","111":"151000 - Poskytnut\u00e9 z\u00e1lohy na materi\u00e1l ","112":"152000 - Poskytnut\u00e9 z\u00e1lohy na zv\u00ed\u0159ata ","113":"153000 - Poskytnut\u00e9 z\u00e1lohy na zbo\u017e\u00ed ","114":"191000 - Opravn\u00e1 polo\u017eka k materi\u00e1lu ","129":"192000 - Opravn\u00e1 polo\u017eka k nedokon\u010den\u00e9 v\u00fdrob\u011b ","130":"193000 - Opravn\u00e1 polo\u017eka k polotovar\u016fm vlastn\u00ed v\u00fdroby ","131":"194000 - Opravn\u00e1 polo\u017eka k v\u00fdrobk\u016fm ","132":"195000 - Opravn\u00e1 polo\u017eka ke zv\u00ed\u0159at\u016fm ","133":"196000 - Opravn\u00e1 polo\u017eka ke zbo\u017e\u00ed ","134":"197000 - Opravn\u00e1 polo\u017eka k z\u00e1loh\u00e1m na materi\u00e1l","135":"198000 - Opravn\u00e1 polo\u017eka k z\u00e1loh\u00e1m na zbo\u017e\u00ed ","136":"199000 - Opravn\u00e1 polo\u017eka k z\u00e1loh\u00e1m na zv\u00ed\u0159ata ","52":"211000 - Pokladna ","53":"213000 - Ceniny ","54":"221000 - Bankovn\u00ed \u00fa\u010dty ","55":"231000 - Kr\u00e1tkodob\u00e9 bankovn\u00ed \u00fav\u011bry ","56":"232000 - Eskontn\u00ed \u00fav\u011bry ","149":"241000 - Emitovan\u00e9 kr\u00e1tkodob\u00e9 dluhopisy","150":"249000 - Ostatn\u00ed kr\u00e1tkodob\u00e9 finan\u010dn\u00ed v\u00fdpomoci","151":"251000 - Registrovan\u00e9 majetkov\u00e9 cenn\u00e9 pap\u00edry k obchodov\u00e1n\u00ed","152":"252000 - Vlastn\u00ed akcie a vlastn\u00ed obchodn\u00ed pod\u00edly","153":"253000 - Registrovan\u00e9 dluhov\u00e9 cenn\u00e9 pap\u00edry k obchodov\u00e1n\u00ed","154":"255000 - Vlastn\u00ed dluhopisy","155":"256000 - Dluhov\u00e9 cenn\u00e9 pap\u00edry se splat. do 1 roku dr\u017een\u00e9 do splatnosti","156":"257000 - Ostatn\u00ed cenn\u00e9 pap\u00edry k obchodov\u00e1n\u00ed","157":"259000 - Po\u0159izov\u00e1n\u00ed kr\u00e1tkodob\u00e9ho finan\u010dn\u00edho majetku","139":"261000 - Pen\u00edze na cest\u011b ","158":"291000 - Opravn\u00e1 polo\u017eka ke kr\u00e1tkodob\u00e9mu finan\u010dn\u00edmu majetku","57":"311000 - Pohled\u00e1vky z obchodn\u00edch vztah\u016f ","159":"312000 - Sm\u011bnky k inkasu","160":"313000 - Pohled\u00e1vky za eskontovan\u00e9 cenn\u00e9 pap\u00edry","161":"314000 - Poskytnut\u00e9 z\u00e1lohy - dlouhodob\u00e9 a kr\u00e1tkodob\u00e9","162":"315000 - Ostatn\u00ed pohled\u00e1vky","140":"321000 - Z\u00e1vazky z obchodn\u00edch vztah\u016f ","163":"322000 - Sm\u011bnka k \u00fahrad\u011b","141":"324000 - P\u0159ijat\u00e9 provozn\u00ed z\u00e1lohy ","142":"325000 - Ostatn\u00ed z\u00e1vazky ","58":"331000 - Zam\u011bstnanci ","59":"333000 - Ostatn\u00ed z\u00e1vazky v\u016f\u010di zam\u011bstnanc\u016fm ","61":"335000 - Pohled\u00e1vky za zam\u011bstnanci ","60":"336000 - Z\u00fa\u010dtov\u00e1n\u00ed s institucemi soci\u00e1l. zabezpe\u010den\u00ed a zdravot. poji\u0161t\u011bn\u00ed ","62":"341000 - Da\u0148 z p\u0159\u00edjm\u016f ","63":"342000 - Ostatn\u00ed p\u0159\u00edm\u00e9 dan\u011b ","64":"343000 - Da\u0148 z p\u0159idan\u00e9 hodnoty ","65":"345000 - Ostatn\u00ed dan\u011b a poplatky ","166":"346000 - Dotace ze st\u00e1tn\u00edho rozpo\u010dtu","167":"347000 - Ostatn\u00ed dotace","66":"349000 - Vyrovn\u00e1vac\u00ed \u00fa\u010det pro DPH ","168":"351000 - Pohled\u00e1vky - ovl\u00e1daj\u00edc\u00ed a \u0159\u00edd\u00edc\u00ed osoba","169":"352000 - Pohled\u00e1vky - podstatn\u00fd vliv","170":"353000 - Pohled\u00e1vky za upsan\u00fd z\u00e1kladn\u00ed kapit\u00e1l","171":"354000 - Pohled\u00e1vky za spole\u010dn\u00edky p\u0159i \u00fahrad\u011b ztr\u00e1ty","172":"355000 - Ostatn\u00ed pohled\u00e1vky za spole\u010dn\u00edky a \u010dleny dru\u017estva","173":"358000 - Pohled\u00e1vky za \u00fa\u010dastn\u00edky sdru\u017een\u00ed","174":"361000 - Z\u00e1vazky - ovl\u00e1daj\u00edc\u00ed a \u0159\u00edd\u00edc\u00ed osoba","175":"362000 - Z\u00e1vazky - podstatn\u00fd vliv","176":"364000 - Z\u00e1vazky ke spole\u010dn\u00edk\u016fm p\u0159i rozd\u011blov\u00e1n\u00ed zisku","177":"365000 - Ostatn\u00ed z\u00e1vazky ke spole\u010dn\u00edk\u016fm a \u010dlen\u016fm dru\u017estva","178":"366000 - Z\u00e1vazky ke spole\u010dn\u00edk\u016fm a \u010dlen\u016fm dru\u017estva ze z\u00e1visl\u00e9 \u010dinnosti","179":"367000 - Z\u00e1vazky z upsan\u00fdch nesplacen\u00fdch cenn\u00fdch pap\u00edr\u016f a vklad\u016f","180":"368000 - Z\u00e1vazky k \u00fa\u010dastn\u00edk\u016fm sdru\u017een\u00ed","181":"371000 - Pohled\u00e1vky z prodeje podniku","182":"372000 - Z\u00e1vazky z koup\u011b podniku","183":"373000 - Pohled\u00e1vky a z\u00e1vazky z pevn\u00fdch term\u00ednov\u00fdch operac\u00ed","184":"374000 - Pohled\u00e1vky z pron\u00e1jmu","185":"375000 - Pohled\u00e1vky z emitovan\u00fdch dluhopis\u016f","186":"376000 - Nakoupen\u00e9 opce","187":"377000 - Prodan\u00e9 opce","67":"378000 - Jin\u00e9 pohled\u00e1vky ","68":"379000 - Jin\u00e9 z\u00e1vazky ","188":"381000 - N\u00e1klady p\u0159\u00ed\u0161t\u00edch obdob\u00ed","189":"382000 - Komplexn\u00ed n\u00e1klady p\u0159\u00ed\u0161t\u00edch obdob\u00ed","190":"383000 - V\u00fddaje p\u0159\u00ed\u0161t\u00edch obdob\u00ed","191":"384000 - V\u00fdnosy p\u0159\u00ed\u0161t\u00edch obdob\u00ed","192":"385000 - P\u0159\u00edjmy p\u0159\u00ed\u0161t\u00edch obdob\u00ed","193":"388000 - Dohadn\u00e9 \u00fa\u010dty aktivn\u00ed","194":"389000 - Dohadn\u00e9 \u00fa\u010dty pasivn\u00ed","195":"391000 - Opravn\u00e1 polo\u017eka k pohled\u00e1vk\u00e1m","196":"395000 - Vnit\u0159n\u00ed z\u00fa\u010dtov\u00e1n\u00ed","197":"398000 - Spojovac\u00ed \u00fa\u010det p\u0159i sdru\u017een\u00ed","69":"411000 - Z\u00e1kladn\u00ed kapit\u00e1l ","116":"412000 - Emisn\u00ed a\u017eio ","117":"413000 - Ostatn\u00ed kapit\u00e1lov\u00e9 fondy ","198":"414000 - Oce\u0148ovac\u00ed rozd\u00edly z p\u0159ecen\u011bn\u00ed majetku a z\u00e1vazk\u016f","199":"417000 - Rozd\u00edly z p\u0159em\u011bn spole\u010dnost\u00ed","200":"418000 - Oce\u0148ovac\u00ed rozd\u00edly z p\u0159ecen\u011bn\u00ed p\u0159i p\u0159em\u011bn\u00e1ch spole\u010dnost\u00ed","118":"419000 - Zm\u011bny z\u00e1kladn\u00edho kapit\u00e1lu ","119":"421000 - Z\u00e1konn\u00fd rezervn\u00ed fond ","120":"422000 - Ned\u011bliteln\u00fd fond ","121":"423000 - Statut\u00e1rn\u00ed fondy ","122":"427000 - Ostatn\u00ed fondy ","123":"428000 - Nerozd\u011blen\u00fd zisk minul\u00fdch let ","124":"429000 - Neuhrazen\u00e1 ztr\u00e1ta minul\u00fdch let ","125":"431000 - V\u00fdsledek hospoda\u0159en\u00ed ve schvalovac\u00edm \u0159\u00edzen\u00ed ","201":"451000 - Rezervy podle zvl\u00e1\u0161tn\u00edch pr\u00e1vn\u00edch p\u0159edpis\u016f","202":"452000 - Rezerva na d\u016fchody a podobn\u00e9 z\u00e1vazky","126":"453000 - Rezerva na da\u0148 z p\u0159\u00edjm\u016f ","127":"459000 - Ostatn\u00ed rezervy ","203":"461000 - Bankovn\u00ed \u00fav\u011bry","204":"471000 - Dlouhodob\u00e9 z\u00e1vazky - ovl\u00e1daj\u00edc\u00ed a \u0159\u00edd\u00edc\u00ed osoba","205":"472000 - Dlouhodob\u00e9 z\u00e1vazky - podstatn\u00fd vliv","206":"473000 - Emitovan\u00e9 dluhopisy","207":"474000 - Z\u00e1vazky z pron\u00e1jmu","128":"475000 - Dlouhodob\u00e9 p\u0159ijat\u00e9 z\u00e1lohy ","208":"478000 - Dlouhodob\u00e9 sm\u011bnky k \u00fahrad\u011b","209":"479000 - Jin\u00e9 dlouhodob\u00e9 z\u00e1vazky","210":"481000 - Odlo\u017een\u00fd da\u0148ov\u00fd z\u00e1vazek a pohled\u00e1vka","211":"491000 - \u00da\u010det individu\u00e1ln\u00edho podnikatele","70":"501000 - Spot\u0159eba materi\u00e1lu ","71":"502000 - Spot\u0159eba energie ","72":"503000 - Spot\u0159eba ostatn\u00edch neskladovateln\u00fdch dod\u00e1vek ","73":"504000 - Prodan\u00e9 zbo\u017e\u00ed ","74":"511000 - Opravy a udr\u017eov\u00e1n\u00ed ","75":"512000 - Cestovn\u00e9 ","76":"513000 - N\u00e1klady na reprezentaci ","77":"518000 - Ostatn\u00ed slu\u017eby ","213":"520000 - Osobn\u00ed n\u00e1klady","78":"521000 - Mzdov\u00e9 n\u00e1klady ","79":"522000 - P\u0159\u00edjmy spole\u010dn\u00edk\u016f a \u010dlen\u016f dru\u017estva ze z\u00e1visl\u00e9 \u010dinnosti ","80":"523000 - Odm\u011bny \u010dlen\u016fm org\u00e1n\u016f spole\u010dnosti a dru\u017estva ","81":"524000 - Z\u00e1konn\u00e9 soci\u00e1ln\u00ed poji\u0161t\u011bn\u00ed ","82":"525000 - Ostatn\u00ed soci\u00e1ln\u00ed poji\u0161t\u011bn\u00ed ","83":"526000 - Soci\u00e1ln\u00ed n\u00e1klady individu\u00e1ln\u00edho podnikatele ","84":"527000 - Z\u00e1konn\u00e9 soci\u00e1ln\u00ed n\u00e1klady ","85":"528000 - Ostatn\u00ed soci\u00e1ln\u00ed n\u00e1klady ","214":"530000 - Dan\u011b a poplatky","86":"531000 - Da\u0148 silni\u010dn\u00ed ","87":"532000 - Da\u0148 z nemovitost\u00ed ","88":"538000 - Ostatn\u00ed dan\u011b a poplatky ","215":"540000 - Jin\u00e9 provozn\u00ed n\u00e1klady","89":"541000 - Z\u016fstatkov\u00e1 cena prodan\u00e9ho dlouhodob\u00e9ho nehmotn\u00e9ho a hmotn\u00e9ho majetku ","90":"542000 - Prodan\u00fd materi\u00e1l ","91":"543000 - Dary ","92":"544000 - Smluvn\u00ed pokuty a \u00faroky z prodlen\u00ed ","143":"545000 - Ostatn\u00ed pokuty a pen\u00e1le ","144":"546000 - Odpis pohled\u00e1vky ","216":"548000 - Ostatn\u00ed provozn\u00ed n\u00e1klady","217":"549000 - Manka a \u0161kody z provozn\u00ed \u010dinnosti","93":"551000 - Odpisy dlouhodob\u00e9ho nehmotn\u00e9ho a hmotn\u00e9ho majetku ","218":"552000 - Tvorba a z\u00fa\u010dtov\u00e1n\u00ed rezerv podle zvl\u00e1\u0161tn\u00edch pr\u00e1vn\u00edch p\u0159edpis\u016f","219":"554000 - Tvorba a z\u00fa\u010dtov\u00e1n\u00ed ostatn\u00edch rezerv","220":"555000 - Tvorba a z\u00fa\u010dtov\u00e1n\u00ed komplexn\u00edch n\u00e1klad\u016f p\u0159\u00ed\u0161t\u00edch obdob\u00ed","221":"557000 - Z\u00fa\u010dtov\u00e1n\u00ed opr\u00e1vky k oce\u0148ovac\u00edmu rozd\u00edlu k nabyt\u00e9mu majetku","222":"558000 - Tvorba a z\u00fa\u010dtov\u00e1n\u00ed z\u00e1konn\u00fdch opravn\u00fdch polo\u017eek v provozn\u00ed \u010dinnosti","223":"559000 - Tvorba a z\u00fa\u010dtov\u00e1n\u00ed opravn\u00fdch polo\u017eek v provozn\u00ed \u010dinnosti","224":"560000 - Finan\u010dn\u00ed n\u00e1klady","225":"561000 - Prodan\u00e9 cenn\u00e9 pap\u00edry a pod\u00edly","145":"562000 - \u00daroky ","146":"563000 - Kurzov\u00e9 ztr\u00e1ty ","226":"564000 - N\u00e1klady z p\u0159ecen\u011bn\u00ed cenn\u00fdch pap\u00edr\u016f","227":"566000 - N\u00e1klady z finan\u010dn\u00edho majetku","228":"567000 - N\u00e1klady z deriv\u00e1tov\u00fdch operac\u00ed","229":"568000 - Ostatn\u00ed finan\u010dn\u00ed n\u00e1klady","230":"569000 - Manka a \u0161kody na finan\u010dn\u00edm majetku","231":"574000 - Tvorba a z\u00fa\u010dtov\u00e1n\u00ed finan\u010dn\u00edch rezerv","232":"579000 - Tvorba a z\u00fa\u010dtov\u00e1n\u00ed opravn\u00fdch polo\u017eek ve finan\u010dn\u00ed \u010dinnosti","233":"580000 - Mimo\u0159\u00e1dn\u00e9 n\u00e1klady","234":"581000 - N\u00e1klady na zm\u011bnu metody","235":"582000 - \u0160kody","236":"584000 - Tvorba a z\u00fa\u010dtov\u00e1n\u00ed mimo\u0159\u00e1dn\u00fdch rezerv","237":"588000 - Ostatn\u00ed mimo\u0159\u00e1dn\u00e9 n\u00e1klady","238":"589000 - Tvorba a z\u00fa\u010dtov\u00e1n\u00ed opravn\u00fdch polo\u017eek v mimo\u0159\u00e1dn\u00e9 \u010dinnosti","239":"591000 - Da\u0148 z p\u0159\u00edjm\u016f z b\u011b\u017en\u00e9 \u010dinnosti - splatn\u00e1","240":"592000 - Da\u0148 z p\u0159\u00edjm\u016f z b\u011b\u017en\u00e9 \u010dinnosti - odlo\u017een\u00e1","241":"593000 - Da\u0148 z p\u0159\u00edjm\u016f z mimo\u0159\u00e1dn\u00e9 \u010dinnosti - splatn\u00e1","242":"594000 - Da\u0148 z p\u0159\u00edjm\u016f z mimo\u0159\u00e1dn\u00e9 \u010dinnosti - odlo\u017een\u00e1","243":"595000 - Dodate\u010dn\u00e9 odvody dan\u011b z p\u0159\u00edjm\u016f","244":"596000 - P\u0159evod pod\u00edlu na v\u00fdsledku hospoda\u0159en\u00ed spole\u010dn\u00edk\u016fm","245":"597000 - P\u0159evod provozn\u00edch n\u00e1klad\u016f","246":"598000 - P\u0159evod finan\u010dn\u00edch n\u00e1klad\u016f","247":"599000 - Rezerva na da\u0148 z p\u0159\u00edjmu","94":"601000 - Tr\u017eby za vlastn\u00ed v\u00fdrobky ","1":"602000 - Tr\u017eby z prodeje slu\u017eeb ","2":"604000 - Tr\u017eby za zbo\u017e\u00ed ","248":"610000 - Zm\u011bny stavu z\u00e1sob vlastn\u00ed \u010dinnosti","249":"611000 - Zm\u011bna stavu nedokon\u010den\u00e9 v\u00fdroby","250":"612000 - Zm\u011bna stavu polotovar\u016f vlastn\u00ed v\u00fdroby","251":"613000 - Zm\u011bna stavu v\u00fdrobk\u016f","252":"614000 - Zm\u011bna stavu zv\u00ed\u0159at","253":"620000 - Aktivace","254":"621000 - Aktivace materi\u00e1lu a zbo\u017e\u00ed","255":"622000 - Aktivace vnitropodnikov\u00fdch slu\u017eeb","256":"623000 - Aktivace dlouhodob\u00e9ho nehmotn\u00e9ho majetku","257":"624000 - Aktivace dlouhodob\u00e9ho hmotn\u00e9ho majetku","258":"640000 - Jin\u00e9 provozn\u00ed v\u00fdnosy","100":"641000 - Tr\u017eby z prodeje dlouhodob\u00e9ho nehmotn\u00e9ho a hmotn\u00e9ho majetku ","101":"642000 - Tr\u017eby z prodeje materi\u00e1lu ","137":"644000 - Smluvn\u00ed pokuty a \u00faroky z prodlen\u00ed ","259":"646000 - V\u00fdnosy z odepsan\u00fdch pohled\u00e1vek","138":"648000 - Ostatn\u00ed provozn\u00ed v\u00fdnosy ","260":"660000 - Finan\u010dn\u00ed v\u00fdnosy","261":"661000 - Tr\u017eby z prodeje cenn\u00fdch pap\u00edr\u016f a pod\u00edl\u016f","95":"662000 - \u00daroky ","96":"663000 - Kursov\u00e9 zisky ","262":"664000 - V\u00fdnosy z p\u0159ecen\u011bn\u00ed cenn\u00fdch pap\u00edr\u016f","263":"665000 - V\u00fdnosy z dlouhodob\u00e9ho finan\u010dn\u00edho majetku","264":"666000 - V\u00fdnosy z kr\u00e1tkodob\u00e9ho finan\u010dn\u00edho majetku","265":"667000 - V\u00fdnosy z deriv\u00e1tov\u00fdch operac\u00ed","266":"668000 - Ostatn\u00ed finan\u010dn\u00ed v\u00fdnosy","267":"680000 - Mimo\u0159\u00e1dn\u00e9 v\u00fdnosy","268":"681000 - V\u00fdnosy ze zm\u011bny metody","591":"684000 - \u010clensk\u00e9 p\u0159\u00edsp\u011bvky","269":"688000 - Ostatn\u00ed mimo\u0159\u00e1dn\u00e9 v\u00fdnosy","270":"697000 - P\u0159evod provozn\u00edch v\u00fdnos\u016f","271":"698000 - P\u0159evod finan\u010dn\u00edch v\u00fdnos\u016f","97":"701000 - Po\u010d\u00e1te\u010dn\u00ed \u00fa\u010det rozva\u017en\u00fd ","98":"702000 - Kone\u010dn\u00fd \u00fa\u010det rozva\u017en\u00fd ","99":"710000 - \u00da\u010det zisk\u016f a ztr\u00e1t "}
## Účty DPH [/vat_chart]
<a name="ucty-dph"/>

### Seznam účtů DPH [GET]
Odpověď obsahuje pole dostupných Účty DPH pro použití v dokladech.

`{"id": "popis"}`

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/json)

        {"281":"98006000 - P\u0159\u00edjem DPH (vratka)","302":"96009000 - Platba DPH"}


# Group EET

## Seznam EET záznamů [/eet_status]
<a name="eet-zpravy" />

### Výpis dostupných EET záznamů [GET /eet_status{?page,pageSize}]

+ Parameters
    + page: `1` (number, optional) - Číslo stránky
    + pageSize: `50` (number, optional) - Počet záznamů na stránku

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/json)
 + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/eet_status (required)
        - _embedded (object, required)
            - `eet_status` (array[`EET_LIST`], required) - Pole EET záznamů
        - Include (`PAGING`, optional) - Stránkování, pouze pokud je nastaveno v parametru dotazu

## Správa EET záznamů [/eet_status/{id}]
+ Model (application/hal+json)
    + Body

            {"_links":{"self":{"href":"\/1.1\/eet_status\/22"}},"id":22,"uuid_zpravy":"b941b54f-206a-4839-a710-d84f2a5b42b8","dat_odesl":"1487924615","prvni_zaslani":true,"overeni":false,"dic_popl":"CZ00000019","dic_poverujiciho":null,"id_provoz":1,"id_pokl":"1093_def","porad_cis":"1_def_86166","dat_trzby":"2017-02-24T09:23:35+01:00","celk_trzba":19,"zakl_nepodl_dph":0,"zakl_dan1":0,"dan1":0,"zakl_dan2":0,"dan2":0,"zakl_dan3":0,"dan3":0,"cest_sluz":0,"pouzit_zboz1":0,"pouzit_zboz2":0,"pouzit_zboz3":0,"urceno_cerp_zuct":0,"cerp_zuct":0,"rezim":0,"pkp":"aLeoljmrsete8CI107u3bPlXY1aho\/0dWTRfEjV6hPd6\/MzNw3vYuMhPgBVHkzVmpyoNHJd9dr4FkYi36Fa+SGgkgVfvanWhHYjpO3\/Dmn1c0nTe3lAJ9oURQJqjxxbWmMsEWGhFzR\/GGgphTNbysNVEho35DR74tIEYeUZz+ZaUR5jBicCZi079K4dhc+PdYhQHWlQh7J6Nn39bKOCCe18eVZrlKKTG8rpyyK7ZMBzQjMSZGCGAgt1tS+5rOmjHFS0TB4LhPz6F25lnBRVbJTFLF3dBdKhqjV6gGhw6dLcloi5ydY\/RuCaPqhjecekwk+rnkDGotA4DMfeyavKHug==","bkp":"f5da6cd5-3b49c4f4-7d9ded56-5827b3be-332c0c97","dat_prij":null,"fik":"5d2e5e79-59b3-49f9-bb59-566072a7aaf1-f4","test":null,"kod_varov":null,"Varovani":null,"status":"ok","external":true}

### Vytvoření EET záznamu [POST]
Vytvoří nový EET záznam, který byl již zpracován aplikací třetí strany.

Seznam přijatých parametrů je shodný s těmi, které je možné odesílat do EET, včetně návratových atributů.

+ Request (application/json)
    + Headers

            X-Auth-Key: api-key
    + Body

            {"uuid_zpravy":"288e17e-e636-450f-1457-5571c5fd917r","pkp":"f657rfgVovx15Gu9lc/fShOO9JNGRl3flYVFFOplo3SFtU6JuF+URlTMiXYG2/u9DiVwDfuPLpDdowvhqxDo3iy5dxsnsKfi9DtPCd/YKX0T+L788yuM+WHbZixNnYgrbxzjZ3wnFecQ3gEdqDNLCPko+Ad88/07NYXgIzegXsNNGHE99kIbGSh9IWhRckVmwjQJ5N4zfehlPDIXhA1RpC/bflFsBFCYGRsIbknx3FzMkgCXvYFNJL4+LmSY5+BYJXzW29402Hm0+bKpDVbCblfjyHBeRdy7bokOL99wtjbwZB+ziInoQv+HSNbt4PVCbkRNTO9vdATcr4c8gmu4g==","bkp":"5a5f9bb8-b8759335-a102d170-00472350-e95437f9","fik":"03d20aea-e234-4aad-be24-f3964c6d6447-ff","prvni_zaslani":true,"id_provoz":11,"id_pokl":"pok1","porad_cis":"0002","dat_trzby":1487935621,"celk_trzba":52446,"rezim":0,"dat_odesl":1487935621}

+ Response 201
    [Správa EET záznamů][]

### Detail EET záznamu [GET]
+ Parameters
    + id (int) ... ID záznamu

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200
    [Správa EET záznamů][]

# Group Ceník a sklady
## Ceník [/price_list]
<a name="price-list"/>

### Seznam položek [GET /price_list{?page,pageSize,is_stock,bar_code,external_code}]

+ Parameters
    + page: `1` (number, optional) - Číslo stránky
    + pageSize: `50` (number, optional) - Počet záznamů na stránku
    + is_stock: `false` (bool, optional) - Je na skladě
    + bar_code: `BARCODE123` (string, optional) - Čárový kód
    + external_code: `EXT1234` (string, optional) - Externí číslo

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/price_list (required)
        - _embedded (object, required)
            - `price_list` (array[`PRICE_LIST_LIST`], required) - Pole dostupných položek
        - Include (`PAGING`, optional) - Stránkování, pouze pokud je nastaveno v parametru dotazu

### Detail položky [GET /price_list/{id}]

+ Parameters
    + id: 123 (number, required)

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/price_list/123 (required)
        - _embedded (object, required)
            - `price_list` (`PRICE_LIST_DETAIL`, required) - Detail

### Vytvořit položku [POST /price_list]

+ Request
    + Headers

            X-Auth-Key: api-key
            Content-Type: application/json

    + Attributes (`PRICE_LIST_CREATE`)

+ Response 201 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/price_list/123 (required)
        - _embedded (object, required)
            - `price_list` (`PRICE_LIST_DETAIL`, required) - Detail

### Editovat položku [PUT /price_list/{id}]
+ Parameters
    + id: 123 (number, required)

+ Request
    + Headers

            X-Auth-Key: api-key
            Content-Type: application/json

    + Attributes (`PRICE_LIST_CREATE`)

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/price_list/123 (required)
        - _embedded (object, required)
            - `price_list` (`PRICE_LIST_DETAIL`, required) - Detail

### Smazat položku [DELETE /price_list/{id}]

Nelze smazat položku ke které existuje pohyb na skladu. Použijte `is_hidden=true`.

+ Parameters
    + id: 123 (number, required)

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 204
## Sklady [/warehouse]
<a name="warehouse"/>

### Seznam skladů [GET /warehouse{?page,pageSize}]

+ Parameters
    + page: `1` (number, optional) - Číslo stránky
    + pageSize: `50` (number, optional) - Počet záznamů na stránku
    
+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/warehouse (required)
        - _embedded (object, required)
            - `warehouse` (array[`WAREHOUSE_LIST`], required) - Pole dostupných skladů
        - Include (`PAGING`, optional) - Stránkování, pouze pokud je nastaveno v parametru dotazu

### Detail skladu [GET /warehouse/{id}]

+ Parameters
    + id: 123 (number, required)

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/warehouse/123 (required)
        - _embedded (object, required)
            - `warehouse` (`WAREHOUSE_DETAIL`, required) - Detail

### Vytvoření skladu [POST /warehouse]

+ Request
    + Headers

            X-Auth-Key: api-key
            Content-Type: application/json

    + Attributes (`WAREHOUSE_CREATE`)

+ Response 201 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/warehouse/123 (required)
        - _embedded (object, required)
            - `warehouse` (`WAREHOUSE_DETAIL`, required) - Detail

### Editace skladu [PUT /warehouse/{id}]
+ Parameters
    + id: 123 (number, required)

+ Request
    + Headers

            X-Auth-Key: api-key
            Content-Type: application/json

    + Attributes (`WAREHOUSE_CREATE`)

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/warehouse/123 (required)
        - _embedded (object, required)
            - `warehouse` (`WAREHOUSE_DETAIL`, required) - Detail

### Smazání skladu [DELETE /warehouse/{id}]

+ Parameters
    + id: 123 (number, required)

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 204

## Skladové karty [/inventory]
<a name="inventory"/>

Skladové karty slouží k přiřazení produktu na určitý sklad.

Vytvořením pohybu vznikne skladová karta automaticky.

### Seznam skladových karet [GET /inventory{?page,pageSize,product_id,warehouse_id}]

+ Parameters
    + page: `1` (number, optional) - Číslo stránky
    + pageSize: `50` (number, optional) - Počet záznamů na stránku
    + product_id: `123` (number, optional) - ID produktu
    + warehouse_id: `23` (number, optional) - ID skladu

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/inventory (required)
        - _embedded (object, required)
            - `inventory` (array[`INVENTORY_LIST`], required) - Pole dostupných produktů
        - Include (`PAGING`, optional) - Stránkování, pouze pokud je nastaveno v parametru dotazu

### Detail skladové karty [GET /inventory/{id}]

+ Parameters
    + id: 123 (number, required)

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/inventory/123 (required)
        - _embedded (object, required)
            - `inventory` (`INVENTORY_DETAIL`, required) - Detail

### Vytvoření skladové karty [POST /inventory]

+ Request (application/json)
    + Headers

            X-Auth-Key: api-key

    + Attributes (`INVENTORY_CREATE`)

+ Response 201 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/inventory/123 (required)
        - _embedded (object, required)
            - `inventory` (`INVENTORY_DETAIL`, required) - Detail

### Editace skladové karty [PUT /inventory/{id}]
+ Parameters
    + id: 123 (number, required)

+ Request (application/json)
    + Headers

            X-Auth-Key: api-key

    + Attributes (`INVENTORY_CREATE`)

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/inventory/123 (required)
        - _embedded (object, required)
            - `inventory` (`INVENTORY_DETAIL`, required) - Detail

### Smazání skladové karty [DELETE /inventory/{id}]

Nelze smazat skladovou kartu, pokud existuje pohyb.

+ Parameters
    + id: 123 (number, required)

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 204
## Skladové pohyby [/stock_movement]
<a name="stock-movement"/>

### Seznam pohybů [GET /stock_movement{?page,pageSize,product_id,warehouse_id,last_id}]

+ Parameters
    + page: `1` (number, optional) - Číslo stránky
    + pageSize: `50` (number, optional) - Počet záznamů na stránku
    + product_id: `123` (number, optional) - ID produktu
    + warehouse_id: `23` (number, optional) - ID skladu
    + last_id: `266` (number, optional) - ID poslední

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/stock_movement (required)
        - _embedded (object, required)
            - `stock_movement` (array[`STOCK_MOVEMENT_LIST`], required) - Pole dostupných položek
        - Include (`PAGING`, optional) - Stránkování, pouze pokud je nastaveno v parametru dotazu

### Detail pohybu [GET /stock_movement/{id}]

+ Parameters
    + id: 123 (number, required)

+ Request
    + Headers

            X-Auth-Key: api-key

+ Response 200 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/stock_movement/123 (required)
        - _embedded (object, required)
            - `stock_movement` (`STOCK_MOVEMENT_DETAIL_AMOUNT`, required) - Detail

### Vytvořit pohyb [POST /stock_movement]

Pohyb lze vytvořit dvěma způsby (viz. příklady požadavků).
1. `amount` - Inkrementální (přičte, nebo odečte zadané množství na sklad)
2. `real_amount` - Absolutní (vytvoří takový pohyb, aby stav produktu odpovídal předané hodnotě)

**Vytvořením pohybu vznikně automaticky skladová karta.**

+ Request

    Inkrementální pohyb

    + Headers

            X-Auth-Key: api-key
            Content-Type: application/json

    + Attributes (`STOCK_MOVEMENT_CREATE_AMOUNT`)

+ Response 201 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/stock_movement/123 (required)
        - _embedded (object, required)
            - `stock_movement` (`STOCK_MOVEMENT_DETAIL_AMOUNT`, required) - Detail


+ Request

    Absolutní pohyb

    + Headers

            X-Auth-Key: api-key
            Content-Type: application/json

    + Attributes (`STOCK_MOVEMENT_CREATE_REAL`)

+ Response 201 (application/hal+json)
    + Attributes (object)
        - _link (object, required)
            - self (object, required)
                - href: /1.1/stock_movement/123 (required)
        - _embedded (object, required)
            - `stock_movement` (`STOCK_MOVEMENT_DETAIL_REAL`, required) - Detail



# Data Structures

## `date` (string)
Datum ve formátu `YYYY-mm-dd`

## `price` (number)
Číslo se dvemi desetinými místy ve formátu `1500.10`
## `PAGING` (object)
### Properties
- pageCount: 22 (number, optional) - Celkový počet stránek
- page: 1 (number, optional) - Číslo aktuální stránky
- pageSize: 50 (number, optional) - Počet záznamů na stránce

## `DOCUMENT_ITEMS_CREATE` (object)
### Properties
- text: `Položka A` (string, required) - Popis položky
- amount: `1` (number, required) - Počet kusů
- price: `50` (price, required) - [**Price**](#data-types) - Cena
- `unit_price_inc_vat`: `false` (boolean, optional) - Cena je včetně DPH
- `unit`: `ks` (string) - Jednotka
- `vat`: `0` (number) - [**DPH**](#kurz-dph)
- `vat_total`: `0` (price) - [**Price**](#data-types) - DPH celkem
- `department_id`: `1` (number) - [**Střediska**](#strediska)
- `contract_id`: `1` (number) - [**Zakázky**](#zakazky)

## `DOCUMENT_ITEMS_CREATE_ACC` (object)
### Properties
- Include `DOCUMENT_ITEMS_CREATE`
- One Of
    - Properties
        - `accountentrytype_id`: `532` (number, optional) - [**Typ účetní položky**](#polozky-typy-uc-polozek)
        - `vattype_id`: `1` (number, optional) - [**Seznam typů DPH**](#typy-dph)
        - `chart_account_id`: `null` (string, optional)- [**Účet úč. osnovy**](#ucty-uc-osnovy)
        - `vat_chart_id`: `null` (string, optional) - [**Účet DPH**](#ucty-dph)
    - Properties
        - `accountentrytype_id`: `null` (string, optional) - [**Typ účetní položky**](#polozky-typy-uc-polozek)
        - `vattype_id`: `null` (string, optional) - [**Seznam typů DPH**](#typy-dph)
        - `chart_account_id`: `46` (number, optional)- [**Účet úč. osnovy**](#ucty-uc-osnovy)
        - `vat_chart_id`: `52` (number, optional) - [**Účet DPH**](#ucty-dph)

## `DOCUMENT_ITEMS_DETAIL` (object)
### Properties
- id: `123456` (number) - ID položky
- Include `DOCUMENT_ITEMS_CREATE`

## `DOCUMENT_ITEMS_DETAIL_ACC` (object)
### Properties
- id: `123456` (number) - ID položky
- Include `DOCUMENT_ITEMS_CREATE_ACC`

## `DOCUMENT_ISSUED_LIST_READONLY` (object)
### Properties
- id: `123` (number) - ID dokladu
- `price_inc_vat`: `50` (price, required) - [**Price**](#data-types) - Cena celkem
- `deleted`: `false` (boolean) - Smazáno


## `DOCUMENT_ISSUED_LIST_WRITABLE` (object)
### Properties
- `sequence_code`: `DOC20190001` (string, optional) - Číslo dokladu
- `variable_symbol`: `20190001` (string, optional) - Variabilní symbol
- date: `2019-07-12` (date, required) - [**Date**](#data-types) - Datum vystavení
- `date_vat`: `2019-01-10` (date, optional) - [**Date**](#data-types) - Datum zdanitelného plnění (nepovinné u neplátce DPH)
- `maturity_date`: `2019-01-25` (date, required) - [**Date**](#data-types) - Datum splatnosti
- currency: `CZK` (enum, sample, required) - [**Měna**](#currency)

## `DOCUMENT_ISSUED_LIST` (object)
### Properties
- `customer` (`CUSTOMER_LIST`, required) - Zákazník

## `DOCUMENT_ISSUED_DETAIL_READONLY` (object)
### Properties
- price: `50` (price, required) - [**Price**](#data-types) - Cena
- `price_czk`: `50` (price, required) - [**Price**](#data-types) - Cena v CZK
- `price_inc_vat_czk`: `50` (price, required) - [**Price**](#data-types) - Cena celkem v CZK
- items (array[`DOCUMENT_ITEMS_DETAIL_ACC`], required) - Pole položek

## `DOCUMENT_ISSUED_DETAIL_WRITABLE` (object)
### Properties
- `payment_type` (`PAYMENT_TYPE_ENUM`, required) - [**Platební metody**](#metody-plateb)
- `customer_bank_account`: `123456789/0800` (string) - Bankovní účet zákazníka
- `date_vat_prev`: `2019-01-01` (date, optional) - [**Date**](#data-types) - Datum předchozí sazby DPH
- `description`: `Popis` (string, optional) - Poznámka
- `rounding_type` (`ROUNDING_TYPE_ENUM`, optional) - [**Způsob zaokrouhlení**](#zaokrouhleni)

## `DOCUMENT_ISSUED_DETAIL` (object)
### Properties
- `customer` (`CUSTOMER_DETAIL`, required) - Zákazník
- `bank_account` (`BANK_ACCOUNT_DETAIL`, optional) - [**Bankovní účet**](#bankovni-ucty)

## `DOCUMENT_ISSUED_CREATE` (object)
### Properties
- items (array[`DOCUMENT_ITEMS_CREATE_ACC`], required) - Pole položek
- `customer_id`: 785 (number, required) - ID [zákazníka](#zakaznici)
- One Of
    - Properties
        - `payment_type`: cash, cashondelivery, reciprocity (enum, required) - [**Platební metody**](#metody-plateb)
        - `bank_account`: `null` (string, optional) - ID [**bankovního účtu**](#bankovni-ucty)
    - Properties
        - `payment_type`: transfer, creditcard (enum, required) - [**Platební metody**](#metody-plateb)
        - `bank_account`: 456 (number, required) - ID [**bankovního účtu**](#bankovni-ucty)




## `CURRENCY` (array)
Seznam dostupných měn

### Sample
- CZK
- EUR
- USD

## `PAYMENT_TYPE` (object)
Seznam dostupných metod pro provedení platby používaných v dokladech.

### Properties
- transfer: Bankovním převodem
- cash: Hotově
- cashondelivery: Dobírka
- reciprocity: Reciproce
- creditcard: Platební kartou

## `PAYMENT_TYPE_ENUM` (enum)
Ukázkový seznam dostupných metod pro provedení platby.

### Members
- transfer - Bankovním převodem
- cash - Hotově
- cashondelivery - Dobírka
- reciprocity - Reciproce
- creditcard - Platební kartou

## `ROUNDING_TYPE` (object)
Seznam metod pro zaokrouhlování částek v dokladech.

### Properties
- none: žádné
- round: zaokrouhlit
- up: zaokrouhlit nahoru
- down: zaokrouhlit dolů

## `ROUNDING_TYPE_ENUM` (enum)
Seznam metod pro zaokrouhlování částek v dokladech.

### Members
- none - žádné
- round - zaokrouhlit
- up - zaokrouhlit nahoru
- down - zaokrouhlit dolů




## `BANK_ACCOUNT_LINK` (object)
### Properties
- _link (object)
    - self (object)
        - href: /1.1/bank_account/7 (required)

## `BANK_ACCOUNT_READONLY` (object)
### Properties
- id: 456 (number, required) - ID účtu
- number: `19-123457/0100` (string, required) - Číslo účtu

## `BANK_ACCOUNT_BASE` (object)
### Properties
- name: `Komerční Banka` (string, optional) - Název účtu
- currency: CZK (enum, sample, required) - [**Měna**](#currency)
- isdefault: true (boolean, optional) - Nastaven jako výchozí

## `BANK_ACCOUNT_EXTRA` (object)
### Properties
- `account_prefix`: 19 (number, optional) - Předčíslí účtu
- `account_number`: 123457 (number, required) - Číslo účtu (bez předčíslí)
- `bank_code`: 0100 (string, required) - Kód banky
- swift: KOMBCZPPXXX (string, optional) - SWIFT
- iban: `CZ10INGB0697669236` (string, optional) - IBAN
- `initial_state`: 0 (price) - [**Price**](#data-types) - Počáteční stav účtu
- `chart_account_id`: 424 (number, optional) - [**Účet úč. osnovy**](#ucty-uc-osnovy)
- `chart_account_valid_from`: `01-01-2017` (date, required) - [**Date**](#data-types) - Účet úč. osnovy platný od
- visible: true (boolean) - Viditelnost účtu v seznamech

## `BANK_ACCOUNT_LIST` (object)
### Properties
- Include `BANK_ACCOUNT_LINK`
- Include `BANK_ACCOUNT_READONLY`
- Include `BANK_ACCOUNT_BASE`


## `BANK_ACCOUNT_DETAIL` (object)
### Properties
- Include `BANK_ACCOUNT_READONLY`
- Include `BANK_ACCOUNT_BASE`
- Include `BANK_ACCOUNT_EXTRA`


## `BANK_ACCOUNT_PARAMS` (object)
### Properties
- Include `BANK_ACCOUNT_BASE`
- Include `BANK_ACCOUNT_EXTRA`

## `CASH_REGISTER_LINK` (object)
### Properties
- _link (object)
    - self (object)
        - href: /1.1/cash_register/475 (required)

## `CASH_REGISTER_DETAIL` (object)
### Properties
- id: 475 (number, required) - ID pokladny
- name: `EET pokladna` (string, required) - Název pokladny
- currency: CZK (enum, sample, required) - [**Měna**](#currency)
- isdefault: true (boolean, required) - Nastavena jako výchozí
- `initial_state`: 0 (price) - [**Price**](#data-types) - Počáteční stav pokladny
- iseet: true (boolean, required) - Zda je pokladna nastavená pro EET
- `business_premises` (`BUSINESS_PREMISES_LIST`, optional)  - [**Provozovna**](#business-premises)

## `CASH_REGISTER_LIST` (object)
### Properties
- Include `CASH_REGISTER_LINK`
- Include `CASH_REGISTER_DETAIL`

## `DEPARTMENT_LINK` (object)
### Properties
- _link (object)
    - self (object)
        - href: /1.1/department/475 (required)

## `DEPARTMENT_READONLY` (object)
### Properties
- id: 475 (number, required) - ID střediska

## `DEPARTMENT_BASE` (object)
### Properties
- code: `PR` (string, required) - Kód střediska
- name: `Praha` (string, required) - Název střediska
- description: `Sklad` (string, optional) - Popis

## `DEPARTMENT_DETAIL` (object)
### Properties
- Include `DEPARTMENT_READONLY`
- Include `DEPARTMENT_BASE`

## `DEPARTMENT_LIST` (object)
### Properties
- Include `DEPARTMENT_LINK`
- Include `DEPARTMENT_READONLY`
- Include `DEPARTMENT_BASE`


## `CONTRACT_LINK` (object)
### Properties
- _link (object)
    - self (object)
        - href: /1.1/contract/475 (required)

## `CONTRACT_READONLY` (object)
### Properties
- id: 475 (number, required) - ID zakázky

## `CONTRACT_BASE` (object)
### Properties
- code: `ABC` (string, required) - Kód zakázky
- name: `Zakázka ABC` (string, required) - Název zakázky
- description: `popis` (string, optional) - Popis

## `CONTRACT_DETAIL` (object)
### Properties
- Include `CONTRACT_READONLY`
- Include `CONTRACT_BASE`

## `CONTRACT_LIST` (object)
### Properties
- Include `CONTRACT_LINK`
- Include `CONTRACT_READONLY`
- Include `CONTRACT_BASE`

## `BUSINESS_PREMISES_LINK` (object)
### Properties
- _link (object)
    - self (object)
        - href: /1.1/business_premises/897 (required)
        
## `BUSINESS_PREMISES_DETAIL` (object)
### Properties
- id: 897 (number, required) - ID provozovny
- name: `Restaurace u koníčka` (string, required) - Název provozovny
- isdefault: true (boolean) - Nastavena jako výchozí

## `BUSINESS_PREMISES_LIST` (object)
### Properties
- Include `BUSINESS_PREMISES_LINK`
- Include `BUSINESS_PREMISES_DETAIL`


## `CUSTOMER_READONLY` (object)
### Properties
- id: 123 (number, required) - ID zákazníka

## `CUSTOMER_BASE` (object)
### Properties
- name: `Jan Novák` (string, required) - Jméno zákazníka
[...]
